<template>
<div>
  <ckeditor   type="inline" v-model="editorData" :config="editorConfig"></ckeditor>
</div>
</template>

<script>

export default {
  name: 'FormEditor',
  data () {
    return {

      editorData: '<p>Content of the editor.</p>',
      editorConfig: {
        toolbar: [
          ['Source'],
          ['Styles', 'Format', 'Font', 'FontSize'],
          ['Bold', 'Italic'],
          ['Undo', 'Redo'],
          ['About']
        ]
      }

    }
  }
}
</script>

<style scoped>

</style>
