<template>
  <div>
    <div style="flex-direction:row ; display: flex ; margin-bottom: 15px ">
      <div class="h1" style="width: 80%">Danh sách vai trò</div>
      <div style="width: 20%">
        <a-button style="float:right" type="primary" @click="showModal" icon="user-add">
          Thêm vai trò
        </a-button>
      </div>
    </div>
    <ListAPIInRole v-bind:visible="visibleList" v-bind:role="formData" @close="handleCloseList"></ListAPIInRole>
    <RoleForm v-bind:title="title" v-bind:visible="visible" v-bind:data="formData" @close="handleClose"></RoleForm>
    <a-table bordered
             :columns="columns"
             :row-key="record => record.id"
             :data-source="data"
             :pagination="pagination"
             :loading="loading"
    >
      <template slot="status" slot-scope="status,record">
        <a-switch :checked="status" @change="onChange(record)"/>
      </template>
      <template slot="function" slot-scope="id,record">
        <a-button type="primary" @click="edit(record)" icon="edit"></a-button>
        <a-button @click="showModalList(record)" icon="unordered-list"></a-button>
      </template>

    </a-table>

  </div>
</template>

<script>
import RoleForm from '../components/role/RoleForm'
import ListAPIInRole from '../components/role/ListAPIInRole'
import { mapActions } from 'vuex'

const columns = [
  {
    title: 'Code',
    dataIndex: 'code',
    sorter: true,
    width: '20%',
    scopedSlots: { customRender: 'code' }

  },
  {
    title: 'Name',
    dataIndex: 'name',
    width: '20%'
  },
  {
    title: 'Description',
    dataIndex: 'description'
  },
  {
    title: 'Status',
    dataIndex: 'status',
    scopedSlots: { customRender: 'status' }
  },
  {
    title: 'Update',
    dataIndex: 'id',
    scopedSlots: { customRender: 'function' }
  }

]
export default {
  name: 'list-role.vue',
  data () {
    return {
      data: [],
      pagination: {},
      loading: false,
      visible: false,
      visibleList: false,
      columns,
      formData: {
        code: 'sadsa'
      },
      title: 'Tạo quyền người dùng',
      id: -1
    }
  },
  components: {
    RoleForm,
    ListAPIInRole
  },
  async mounted () {
    const { data } = await this.getListRole({})
    this.data = data
  },
  methods: {
    ...mapActions({ getListRole: 'account/getListRole' }),
    onChange (record) {
      record.status = !record.status
    },
    edit (record) {
      this.title = 'Edit Role'
      this.formData = record
      this.visible = true
    },
    handleClose () {
      this.visible = false
      console.log(this.visible)
      this.formData = {}
    },
    handleCloseList () {
      this.visibleList = false
    },
    showModal () {
      this.title = 'Create Role'
      this.visible = true
    },
    showModalList (record) {
      console.log(record)
      this.visibleList = true
      this.formData = record
    }
  }
}
</script>

<style scoped>
.h1 {
  display: block;
  font-size: 2em;
  font-weight: bold;
}

</style>
