<template>
  <div>
    <div style="flex-direction:row ; display: flex ; margin-bottom: 15px ">
      <div class="h1" style="width: 80%">Danh sách API</div>
      <div style="width: 20%">
        <a-button style="float:right" type="primary" @click="showModal" icon="user-add">
          Thêm API
        </a-button>
      </div>
    </div>
    <a-modal v-model="visible" title="Basic Modal" @ok="handleOk">
      <APIForm v-bind:title="title" v-bind:visible="visible" v-bind:data="formData" @close="handleClose"></APIForm>
    </a-modal>
    <a-table
      :columns="columns"
      :row-key="record => record.id"
      :data-source="data"
      :pagination="pagination"
      :loading="loading"
      @change="handleTableChange"
    >
      <template slot="delete" slot-scope="id,record">
        <a-button @click="deleteByID(id)" icon="delete" type="danger">
          <!--          {{ record.id }}-->
        </a-button>
        <a-button @click="edit(record)" icon="edit" type="primary">

        </a-button>
      </template>

    </a-table>
  </div>

</template>
<script>
import { mapActions } from 'vuex'
import APIForm from '../components/api/ApiForm'

const columns = [

  {
    title: 'Name',
    dataIndex: 'name',
    width: '20%'
  },
  {
    title: 'Path',
    dataIndex: 'path',
    sorter: true,
    width: '20%'

  },
  {
    title: 'Method',
    dataIndex: 'method',
    sorter: true,
    width: '20%'

  },
  {
    title: 'Description',
    dataIndex: 'description'
  },
  {
    title: 'Delete',
    dataIndex: 'id',
    scopedSlots: { customRender: 'delete' }
  }
]
export default {
  name: 'ListAPI',
  data () {
    return {
      data: [],
      pagination: {},
      loading: false,
      columns,
      visible: false,
      formData: {},
      title: 'Create API'
    }
  },
  async mounted () {
    const { data } = await this.getListAPI({})
    this.data = data
  },
  components: {
    APIForm
  },
  methods: {
    ...mapActions({ getListAPI: 'account/getListAPI' }),
    ...mapActions({ createAPI: 'account/createAPI' }),
    ...mapActions({ updateAPIByID: 'account/updateAPIByID' }),
    ...mapActions({ deleteAPIByID: 'account/deleteAPIByID' }),
    async handleTableChange (pagination, filters, sorter) {
      const { data } = await this.getListAPI({})

      console.log(data)
      this.data = data
    },
    async deleteByID (id) {
      await this.deleteAPIByID(id)
    },
    handleOk (e) {
      console.log(e)
      this.visible = false
    },
    onChange (checked) {
      console.log(`a-switch to ${checked}`)
    },
    edit (record) {
      console.log(record)
      this.title = 'Edit API'
      this.formData = record
      this.visible = true
    },
    handleClose () {
      this.visible = false
      console.log(this.visible)
      this.formData = {}
    },
    showModal () {
      this.title = 'Create API'
      this.visible = true
      this.formData = {}
    }
  }

}
</script>

<style scoped>
.h1 {
  display: block;
  font-size: 2em;
  font-weight: bold;
}

</style>
