<template>
  <div class="listUser">
    <div style="flex-direction:row ; display: flex ; margin-bottom: 15px ">
      <div class="h1" style="width: 80%">Danh sách tài khoản</div>
      <div style="width: 20%">
        <a-button style="float:right" type="primary" @click="showModal" icon="user-add">
          Thêm tài khoản
        </a-button>
      </div>
    </div>

    <UserForm v-bind:title="title" v-bind:visible="visible" v-bind:data="formData" @close="handleClose"></UserForm>

    <a-table bordered
             :columns="columns"
             :row-key="record => record.id"
             :data-source="data"
             :pagination="pagination"
             :loading="loading"
             @change="handleTableChange"
    >
      <template slot="role" slot-scope="role"> {{ role.name }}</template>
      <template slot="function" slot-scope="status,record">
        <a-button type="primary" icon="edit" style="margin: 3px;" @click="handleEdit(record)"/>
        <a-switch :defaultChecked=record.status @change="handleUpdateStatus (record)"/>
      </template>
    </a-table>
  </div>
</template>

<script>

import { mapActions } from 'vuex'
import UserForm from '../components/user/UserForm'

const columns = [
  {
    title: 'Full name',
    dataIndex: 'full_name',
    sorter: true,
    width: '20%'

  },
  {
    title: 'Username',
    dataIndex: 'username',
    filters: [
      {
        text: 'Male',
        value: 'male'
      },
      {
        text: 'Female',
        value: 'female'
      }
    ],
    width: '20%'
  },
  {
    title: 'Email',
    dataIndex: 'email'
  },
  {
    title: 'Role',
    dataIndex: 'role',
    scopedSlots: { customRender: 'role' }
  },
  {
    title: 'Update',
    dataIndex: 'update',
    scopedSlots: { customRender: 'function' }
  }
]
export default {
  name: 'list-user',
  data () {
    return {
      data: [],
      pagination: {},
      loading: false,
      columns,
      visible: false,
      title: 'Tạo tài khoản người dùng',
      formData: {
        code: 'sadsa'
      }
    }
  },
  components: {
    UserForm
  },

  async mounted () {
    const { data } = await this.getListUser({})
    this.data = data
  },
  methods: {
    ...mapActions({ getListUser: 'account/getListUser' }),
    ...mapActions({ updateUserStatus: 'account/updateUserStatus' }),
    async handleTableChange (pagination, filters, sorter) {
      const { data } = await this.getListUser({})
      console.log(data)
      this.data = data
    },
    showModal () {
      this.visible = true
    },
    handleOk (e) {
      console.log(e)
      this.visible = false
    },
    handleClose () {
      this.visible = false
      console.log(this.visible)
      this.formData = {}
    },
    handleEdit (record) {
      this.showModal()
      this.formData = Object.assign(this.formData, record)
      this.title = 'Sửa tài khoản người dùng'
      this.formData.role = record.role.code
    },
    async handleUpdateStatus (record) {
      await this.updateUserStatus({ id: record.id, status: record.status })
      console.log(record.id)
      record.status = !record.status
    }
  }
}
</script>

<style scoped>
.h1 {
  display: block;
  font-size: 2em;
  font-weight: bold;
}

.listUser >>> th {
  font-weight: bolder;
}

.listUser >>> td {
  padding: 3px 10px 3px 10px
}

.listUser >>> .ant-table-tbody >>> tr >>> th {
  color: yellow
}

.listUser >>> tr:nth-child(even) {
  background: rgba(243, 243, 243, 0.774)
}

.listUser >>> tr:nth-child(odd) {
  background: #FFF
}
</style>
