<template>
<div>
<a-table
  :columns="columns"
  :data-source="data"
  :pagination="{ pageSize: 50 }"

  bordered>
  <template slot="feature" slot-scope="status,record">
    <a-button type="primary" @click="$router.push({name: 'UseCaseDetail', params: { use_case_id: record.id },})"
              icon="edit" style="margin: 3px;"/>
  </template>

</a-table>
</div>
</template>

<script>
const columns = [
  {
    title: 'ID',
    dataIndex: 'id'

  },
  {
    title: 'Tên',
    dataIndex: 'name'
  },
  {
    title: 'Trạng thái',
    dataIndex: 'status'
  },
  {
    title: 'Chi tiết',
    dataIndex: 'feature',
    scopedSlots: { customRender: 'feature' }
  }

]

const data = [
  {
    id: 1,
    count: 2,
    name: 'Vẽ biểu đồ lớp',
    status: 'New',
    assign: '17020705'
  },
  {
    id: 2,
    count: 2,
    name: 'Vẽ biểu đò tuần tự',
    status: 'Complete',
    assign: '17020705'
  },
  {
    id: 3,
    count: 2,
    name: 'Vẽ biểu đò cộng tác',
    status: 'Complete',
    assign: '17020705'
  }

]
export default {
  name: 'ListTask',
  data () {
    return {
      columns,
      data
    }
  }

}
</script>

<style scoped>

</style>
