<template>
<div>
  <div>
    <div>
      <a-form :form="form" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
        <a-form-item label="Tên">
          <a-input
            v-decorator="['name', {initialValue: this.record.name},{ rules: [{ required: true, message: 'Please input your note!' }] }]"
          />
        </a-form-item>
        <a-form-item label="Mô tả">
          <FormEditor
            v-decorator="['description', {initialValue: this.record.name},{ rules: [{ required: true, message: 'Please input your note!' }] }]"
          />
        </a-form-item>

      </a-form>
      <h3>Chọn bước liền trước</h3>
      <a-select :size="size" default-value="a1" style="width: 200px" @change="handleChange">
        <a-select-option v-for="i in 25" :key="(i + 9).toString(36) + i">
          {{ (i + 9).toString(36) + i }}
        </a-select-option>
      </a-select>
      <h3>Chọn bước liền sau</h3>
      <a-select :size="size" default-value="a1" style="width: 200px" @change="handleChange">
        <a-select-option v-for="i in 25" :key="(i + 9).toString(36) + i">
          {{ (i + 9).toString(36) + i }}
        </a-select-option>
      </a-select>
      <ListFlowStep></ListFlowStep>
    </div>
  </div>
</div>
</template>

<script>
import FormEditor from '../../share/FormEditor'
import ListFlowStep from '../flow_step/ListFlowStep'
export default {
  name: 'FormUseCaseStory',
  components: {
    FormEditor,
    ListFlowStep
  },
  data () {
    return {

      formLayout: 'horizontal',
      form: this.$form.createForm(this, { name: 'coordinated' })
    }
  },
  props: {
    visible: {
      type: Boolean,
      default: true
    },
    title: {
      type: String,
      default: 'Tạo đề tài mới'
    },
    record: {
      type: Object
    }
  },
  methods: {
    handleChange (e) {

    }
  }

}
</script>

<style scoped>

</style>
