<template>
  <div>
    <a-modal :visible="visible" :title="title" @ok="handleOk" @cancel="handleClose">
      <a-form :form="form" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
        <a-form-item label="Thứ tự">
          <a-input
            v-decorator="['order', ,{ rules: [{ required: true, message: 'Please input your note!' }] }]"
          />
        </a-form-item>
        <a-form-item label="Mô tả" has-feedback validate-status="success">
          <a-input
            v-decorator="['desciption', ,{ rules: [{ required: true, message: 'Please input your note!' }] }]"
          />
        </a-form-item>
      </a-form>
    </a-modal>
  </div>
</template>

<script>
export default {
  name: 'FormFlowStep',
  props: {
    visible: {
      type: Boolean,
      default: true
    },
    title: {
      type: String,
      default: 'Create flow_step'
    },
    flowStep: {
      type: Object
    }
  },
  methods: {
    handleOk (e) {
      e.preventDefault()
      this.form.validateFields(async (err, values) => {
        if (!err) {
          const payload = {
            name: values.name,
            end_time: values.end_time,
            start_time: values.start_time
          }
          if (this.title === 'Tạo kỳ học mới') {
            console.log('Received values of form: ', payload)
            const res = await this.createSemester(payload)
            console.log('Received values of form: ', res)
            if (res.success === true) {
              this.$notification.open({
                message: 'Success',
                description: 'Tạo kỳ học thành công',
                icon: <a-icon type="smile" style="color: #00A651"/>
              })
              this.form.resetFields()
              this.$emit('close', false)
            }
          } else {
            const res = await this.updateSemester({ id: this.semester.id, payload })
            if (res.success === true) {
              this.$notification.open({
                message: 'Success',
                description: 'Sửa kỳ học thành công',
                icon: <a-icon type="smile" style="color: #00A651"/>
              })
              this.form.resetFields()
              this.$emit('close', false)
            }
          }
        }
      })
    },
    handleClose () {
      this.$emit('close', false)
    }
  }
}
</script>

<style scoped>

</style>
