<template>
  <div>
    <a-table
      :columns="columns"
      :data-source="data"
      :pagination="{ pageSize: 50 }"

      bordered>
      <template slot="feature" slot-scope="status,record">
        <a-button type="primary" @click="$router.push({name: 'UseCaseDetail', params: { use_case_id: record.id },})"
                  icon="edit" style="margin: 3px;"/>
      </template>

    </a-table>
  </div>
</template>

<script>
const columns = [
  {
    title: 'ID',
    dataIndex: 'id',
    customRender: (value, row, index) => {
      const obj = {
        children: value,
        attrs: {}
      }
      if (row.index === 1) {
        obj.attrs.rowSpan = row.count
      } else {
        obj.attrs.rowSpan = 0
      }

      return obj
    }

  },
  {
    title: 'Tên',
    dataIndex: 'name',
    customRender: (value, row, index) => {
      const obj = {
        children: value,
        attrs: {}
      }
      if (row.index === 1) {
        obj.attrs.rowSpan = row.count
      } else {
        obj.attrs.rowSpan = 0
      }

      return obj
    }

  },
  {
    title: 'Trạng thái',
    dataIndex: 'status'
  },
  {
    title: 'Chi tiết',
    dataIndex: 'feature',
    scopedSlots: { customRender: 'feature' }
  }

]

const data = [
  {
    id: 1,
    count: 2,
    name: 'Đăng nhập',
    priority: 2,
    use_case_slice: '1 Đăng nhập',
    status: 'New',
    use_case_story: 'Đăng nhập Thất bại',
    is_basic_flow: true,
    index: 1,
    assign: '17020705'
  },
  {
    id: 1,
    count: 0,
    name: 'Đăng nhập',
    priority: 2,
    use_case_slice: '2 Đăng nhập bằng FB',
    use_case_story: 'Đăng nhập thành công',
    status: 'Processing',
    is_basic_flow: false,
    assign: '17020705'
  },
  {
    id: 2,
    count: 2,
    name: 'Tạo tài khoản',
    priority: 1,
    use_case_slice: '1 Tạo tài khoản',
    status: 'Processing',
    is_basic_flow: false,
    index: 1,
    assign: '17020705'
  },
  {
    id: 2,
    count: 0,
    name: 'Tạo tài khoản',
    priority: 1,
    use_case_slice: '1.2 Tọa tìa khoản chính',
    status: 'Processing',
    is_basic_flow: true,
    assign: '17020705'
  }

]
export default {
  name: 'ListUseCaseStory',
  data () {
    return {
      columns,
      data
    }
  }
}
</script>

<style scoped>

</style>
