<template>
  <div>

    <a-table :columns="columns" :data-source="data" class="components-table-demo-nested" bordered>
      <a slot="operation" slot-scope="">Publish</a>
      <a-table
        slot="expandedRowRender"
        slot-scope=""
        :columns="innerColumns"
        :data-source="innerData"
        :pagination="false"
      >
        <span slot="status" slot-scope=""> <a-badge status="success" />Finished </span>
        <span slot="operation" slot-scope="" class="table-operation">
        <a>Pause</a>
        <a>Stop</a>
        <a-dropdown>
          <a-menu slot="overlay">
            <a-menu-item>
              Action 1
            </a-menu-item>
            <a-menu-item>
              Action 2
            </a-menu-item>
          </a-menu>
          <a> More <a-icon type="down" /> </a>
        </a-dropdown>
      </span>
      </a-table>
    </a-table>

  </div>
</template>

<script>
const columns = [
  { title: 'STT', dataIndex: 'key', key: 'key' },
  { title: 'Name', dataIndex: 'name', key: 'name' },
  { title: 'Mô tả', dataIndex: 'version', key: 'version' },
  { title: 'Tiền điều kiện', dataIndex: 'upgradeNum', key: 'upgradeNum' },
  { title: 'Hậu điều kiên', dataIndex: 'creator', key: 'creator' },
  { title: 'Action', key: 'operation', scopedSlots: { customRender: 'operation' } }
]
const data = []
for (let i = 0; i < 3; ++i) {
  data.push({
    key: i + 1,
    name: 'Đăng nhập',
    platform: 'iOS',
    version: '10.3.4.5654',
    upgradeNum: 500,
    creator: 'Jack',
    createdAt: '2014-12-24 23:12:00'
  })
}

const innerColumns = [
  { title: 'STT', dataIndex: 'date', key: 'date' },
  { title: 'Name', dataIndex: 'name', key: 'name' },
  { title: 'Mô tả', key: 'state', scopedSlots: { customRender: 'status' } },
  { title: 'Tiền điều kiện', dataIndex: 'upgradeNum', key: 'upgradeNum' },
  {
    title: 'Hậu điều kiên',
    dataIndex: 'operation',
    key: 'operation',
    scopedSlots: { customRender: 'operation' }
  },
  { title: 'Action', key: 'operation', scopedSlots: { customRender: 'operation' } }
]

const innerData = []
for (let i = 0; i < 3; ++i) {
  innerData.push({
    key: i,
    date: '2014-12-24 23:12:00',
    name: 'This is production name',
    upgradeNum: 'Upgraded: 56'
  })
}

export default {
  data () {
    return {
      data,
      columns,
      innerColumns,
      innerData
    }
  },
  name: 'ListFlowStep'
}
</script>

<style scoped>

</style>
