<template>
  <div>
    <div class="text-black dark:text-white text-base sm:text-xl lg:text-base xl:text-xl font-semibold truncate">
      Danh sách các bước của Usecase Story A
    </div>
    Chọn bước liền trước
    <a-select size="default" default-value="a1" style="width: 200px" @change="handleChange">
      <a-select-option v-for="i in 25" :key="(i + 9).toString(36) + i">
        {{ (i + 9).toString(36) + i }}
      </a-select-option>
    </a-select>

    <a-select size="default" default-value="a1" style="width: 200px" @change="handleChange">
      <a-select-option v-for="i in 25" :key="(i + 9).toString(36) + i">
        {{ (i + 9).toString(36) + i }}
      </a-select-option>
    </a-select>
    <a-button type="primary"> ok </a-button>
<ListFlowStep></ListFlowStep>
  </div>
</template>

<script>
import ListFlowStep from './ListFlowStep'

export default {
  data () {
  },
  components: {
    ListFlowStep
  },
  name: 'UseCaseStoryDetail',
  methods: {
    handleChange (value) {
      console.log(`Selected: ${value}`)
    }
  }
}
</script>

<style scoped>

</style>
