<template>
  <div class="login">
    <a-row>
      <a-col :span="8" :offset="8">

        <a-card style="align-item: center;z-index:10 ; border: 2px ;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px">
          <h2>Đăng nhập</h2>
          <a-form :form="form" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }" @submit="handleSubmit">
            <a-form-item label="Username">
              <a-input
                v-decorator="['username', { rules: [{ required: true, message: 'Please input your username!' }] }]"
              />
            </a-form-item>
            <a-form-item label="Password">
              <a-input
                v-decorator="['password', { rules: [{ required: true, message: 'Please input your password!' }] }]"
              />
            </a-form-item>
            <a-form-item :wrapper-col="{ span: 12, offset: 5 }">
              <a-button type="primary" html-type="submit">
                Đăng nhập
              </a-button>
            </a-form-item>
          </a-form>
          <h3>Tài khoản sinh viên tk:sinhvien1 pk:123456</h3>
          <h3>Tài khoản giảng viên tk:giangvien1 pk:123456</h3>
        </a-card>
      </a-col>

    </a-row>

  </div>
</template>
<script>
import { mapActions } from 'vuex'

export default {
  name: 'Login',
  data () {
    return {
      formLayout: 'horizontal',
      form: this.$form.createForm(this, { name: 'coordinated' })
    }
  },
  methods: {
    ...mapActions({ login: 'authorize/login' }),
    handleSubmit (e) {
      e.preventDefault()
      this.form.validateFields(async (err, values) => {
        if (!err) {
          console.log('Received values of form: ', values)
          await this.login(values)
          this.$router.history.push({ name: 'Dashboard' })
        }
      })
    },
    handleSelectChange (value) {
      console.log(value)
      this.form.setFieldsValue({
        note: `Hi, ${value === 'male' ? 'man' : 'lady'}!`
      })
    }
  }
}
</script>

<style scoped>
.login {
  align-item: center;
  justify-content: center;
  z-index: 10;
  /*background: #2f54eb;*/
  padding-top: 10%;
  padding-bottom: 30px;
  /*display: flex;*/
  align-items: center;
}

#form {
  background: #ffffff;
  align-item: center;
}

</style>
