<template>
  <div>
    <a-modal :visible="visible" :title="title" @ok="handleOk" @cancel="handleClose">
      <a-form :form="form" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
        <a-form-item label="Name">
          <a-input
            v-decorator="['name', {initialValue: this.data.name},{ rules: [{ required: true, message: 'Please input your note!' }] }]"
          />
        </a-form-item>
        <a-form-item label="method">
          <a-input
            v-decorator="['method', {initialValue: this.data.method},{ rules: [{ required: true, message: 'Please input your note!' }] }]"
          />
        </a-form-item>
        <a-form-item label="Path">
          <a-input
            v-decorator="['path', {initialValue: this.data.path},{ rules: [{ required: true, message: 'Please input your note!' }] }]"
          />
        </a-form-item>
        <a-form-item label="Description">
          <a-input
            v-decorator="['description', {initialValue: this.data.description},{ rules: [{ required: true, message: 'Please input your note!' }] }]"
          />
        </a-form-item>
      </a-form>
    </a-modal>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'ApiForm',
  data () {
    return {
      formLayout: 'horizontal',
      form: this.$form.createForm(this, { name: 'coordinated' })

    }
  },
  props: {
    visible: {
      type: Boolean,
      default: true
    },
    title: {
      type: String,
      default: 'Create API'
    },
    data: {
      type: Object
    }
  },
  methods: {
    ...mapActions({ createAPI: 'account/createAPI' }),
    ...mapActions({ updateAPIByID: 'account/updateAPIByID' }),
    handleOk (e) {
      e.preventDefault()
      this.form.validateFields(async (err, values) => {
        if (!err) {
          if (this.title === 'Create API') {
            const { data } = await this.createAPI(values)
            this.$emit('close', false)
            console.log('Received values of form: ', data)
          } else {
            console.log('Received values of form: ', values)
            const { data } = await this.updateAPIByID({ id: this.data.id, payload: values })
            this.$emit('close', false)
            console.log('Received values of form: ', data)
          }
        }
        console.log('Received values of form: ', err)
      })
    },
    handleClose () {
      this.$emit('close', false)
    }
  }
}
</script>

<style scoped>

</style>
