<template>
  <div>
    <div>
      <a-form :form="form" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
        <a-form-item label="Tên">
          <a-input
            v-decorator="['name', {initialValue: this.record.name},{ rules: [{ required: true, message: 'Please input your note!' }] }]"
          />
        </a-form-item>
        <a-form-item label="Mô tả">
          <FormEditor
            v-decorator="['description', {initialValue: this.record.name},{ rules: [{ required: true, message: 'Please input your note!' }] }]"
          />
        </a-form-item>
        <a-form-item label="Giao cho">
          <a-select   :size="size" default-value="a1" style="width: 200px" @change="handleChange">
            <a-select-option v-for="i in 25" :key="(i + 9).toString(36) + i">
              {{ (i + 9).toString(36) + i }}
            </a-select-option>
          </a-select>
        </a-form-item>
        <a-form-item label="Use Case story">
        <a-select  mode="multiple" :size="size" default-value="a1" style="width: 200px" @change="handleChange">
          <a-select-option v-for="i in 25" :key="(i + 9).toString(36) + i">
            {{ (i + 9).toString(36) + i }}
          </a-select-option>
        </a-select>
        </a-form-item>
      </a-form>
    </div>
  </div>
</template>

<script>
import FormEditor from '../../share/FormEditor'

export default {
  name: 'FormUseCaseSlice',
  components: {
    FormEditor
  },
  data () {
    return {

      formLayout: 'horizontal',
      form: this.$form.createForm(this, { name: 'coordinated' })
    }
  },
  props: {
    visible: {
      type: Boolean,
      default: true
    },
    title: {
      type: String,
      default: 'Tạo đề tài mới'
    },
    record: {
      type: Object
    }
  },
  methods: {
    handleChange (e) {

    }
  }
}
</script>

<style scoped>

</style>
