<template>
  <div>
    <h1> Tên slice:Slice usecase 7.1</h1>
    <h3>Mô tả</h3>

    <h3>Assignee: Nguyễn Trường Giang</h3>
    <h3>Danh sách usecase story</h3>

    <div>
      <a-button type="primary">
        Create
      </a-button>
      <a-table
        :columns="columns"
        :data-source="data"
        :pagination="{ pageSize: 50 }"
        :scroll="{ y: 240 }"
      />
    </div>
  </div>
</template>

<script>
const columns = [
  {
    title: 'ID',
    dataIndex: 'UsecaseID'

  },
  {
    title: 'Use Case Story Name',
    dataIndex: 'name'

  },
  {
    title: 'Tescase',
    dataIndex: 'importance'
  }

]

const data = []
for (let i = 0; i < 100; i++) {
  data.push({
    UsecaseID: i,
    name: 'Tạo tài khoản',
    importance: 1,
    slice: i + '.' + (i % 5 + 1)
  })
}
export default {
  name: 'UseCaseSliceDetail',
  data () {
    return {
      editorData: '<p>Content of the editor.</p>',
      editorConfig: {
        // The configuration of the editor.
      },
      columns,
      data
    }
  }
}
</script>

<style scoped>

</style>
