<template>
  <div>
    <a-list item-layout="horizontal" :data-source="data">
      <a-list-item slot="renderItem" slot-scope="item">
        <a-list-item-meta
        >
<!--          <a slot="title" @click="$router.push({name: 'UseCaseSliceDetail', params: { use_case_id: record.id },})"-->
<!--          >{{ item.title }}</a>-->
          <router-link  slot="title" tag="a" :to="{ name: 'UseCaseStoryDetail',params: { use_case_story_id: item.id } }">{{item.title}}</router-link>
          <a-avatar
            slot="avatar"
            src="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"

          />
        </a-list-item-meta>
      </a-list-item>
    </a-list>
  </div>
</template>

<script>
const data = [
  {
    id: 1,
    title: 'Slice 1'
  },
  {
    id: 2,
    title: 'Slice 2'
  },
  {
    id: 3,
    title: 'Slice 3'
  },
  {
    id: 4,
    title: 'Slice 4'
  }
]
export default {
  name: 'UseCaseSlice',
  data () {
    return {
      data
    }
  }
}
</script>

<style scoped>

</style>
