<template>
<div>

<a-table :columns="columns" :data-source="data" bordered>
  <template slot="action" slot-scope="status,record">
    <a-button type="primary" @click="editModal(record)"  style="margin: 3px;">Chấp nhân </a-button>
    <a-button type="danger" icon="edit" style="margin: 3px;">Từ chối</a-button>
  </template>
</a-table>

</div>
</template>

<script>

const columns = [

  {
    title: 'Mã sinh viên ',
    dataIndex: 'name',
    key: 'name'
  },

  {
    title: 'Tên',
    dataIndex: 'factor',
    key: 'factor'
  },
  {
    title: 'Khóa',
    className: 'Group',
    dataIndex: 'id'

  },
  {
    title: 'Chức năng',
    className: 'Group',
    dataIndex: 'id',
    scopedSlots: { customRender: 'action' }
  }

]
const data = [
  {
    id: '1',
    name: 'Điểm bài tập 1',
    factor: 0.25
  },
  {
    id: '1',
    name: 'Điểm bài tập 2',
    factor: 0.25
  }
]
export default {
  name: 'AskJoinGroup',
  data () {
    return {
      data: data,
      columns
    }
  }
}
</script>

<style scoped>

</style>
