<template>
  <div>
    <a-form :form="form" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
      <a-form-item label="Tên đề tài">
        <a-input
          v-decorator="['name',{ rules: [{ required: true, message: 'Please input your note!' }] }]"
        />
      </a-form-item>
      <a-form-item label="Mô tả ngắn">
        <a-input
          v-decorator="['short_description',{ rules: [{ required: true, message: 'Please input your note!' }] }]"
        />
      </a-form-item>
    </a-form>
  </div>
</template>

<script>

export default {
  name: 'FormProject',
  components: {},
  data () {
    return {
      form: this.$form.createForm(this, { name: 'coordinated' })
    }
  },
  props: {
    visible: {
      type: Boolean,
      default: true
    },
    title: {
      type: String,
      default: 'Tạo đề tài mới'
    },
    group: {
      type: Object
    }
  }
}
</script>

<style scoped>

</style>
