<template>
  <div>
    <a-table :columns="columns" :data-source="data" bordered>
      <a slot="name" slot-scope="text">{{ text }}</a>
      <template slot="status" slot-scope="text">
        <!--        slot-scope="status,record"-->
        <h3> {{ text }}</h3>

      </template>
      <template slot="feature" slot-scope="status,record">
        <a-button type="primary" @click="showModalEdit (record)" icon="edit" style="margin: 3px;"/>
      </template>
    </a-table>
  </div>
</template>

<script>
const data = [
  {
    id: 2,
    name: 'Hệ thống hỗ trợ môn phân tích thiết kế hướng đối tượng',
    short_description: 'Hệ thống hỗ trợ môn phân tích thiết kế hướng đối tượng',
    description: '',
    state: 'accept',
    create_by: 'giangvien1',
    OwnedByTeamID: 2,
    glossary_of_terms: '',
    owned_by_team: {
      id: 2,
      name: 'Nhóm1',
      leader: { code: '', name: '', school_year: '', avatar: '' },
      course_offering: {
        code: '',
        name: '',
        location: '',
        start_lesson: 0,
        end_lesson: 0,
        school_year: '',
        weekday: '',
        serial: '',
        status: '',
        teacher: null
      }
    },
    status: true
  }, {
    id: 3,
    name: 'Hệ thống Vận chuyển',
    short_description: 'Hệ thống Vận chuyển cho xe khách',
    description: '',
    state: 'accept',
    create_by: 'sinhvien1',
    OwnedByTeamID: 3,
    glossary_of_terms: '',
    owned_by_team: {
      id: 3,
      name: 'Nhóm2',
      leader: { code: '', name: '', school_year: '', avatar: '' },
      course_offering: {
        code: '',
        name: '',
        location: '',
        start_lesson: 0,
        end_lesson: 0,
        school_year: '',
        weekday: '',
        serial: '',
        status: '',
        teacher: null
      }
    },
    status: true
  }, {
    id: 4,
    name: 'Hệ thống thư viện',
    short_description: 'Hệ thống thư viện',
    description: '',
    state: 'wait',
    create_by: 'sinhvien2',
    OwnedByTeamID: 4,
    glossary_of_terms: '',
    owned_by_team: {
      id: 4,
      name: 'Nhóm3',
      leader: { code: '', name: '', school_year: '', avatar: '' },
      course_offering: {
        code: '',
        name: '',
        location: '',
        start_lesson: 0,
        end_lesson: 0,
        school_year: '',
        weekday: '',
        serial: '',
        status: '',
        teacher: null
      }
    },
    status: true
  }, {
    id: 5,
    name: 'Hệ thống gửi xe ',
    short_description: 'Hệ thống gửi xe',
    description: '',
    state: 'cancel',
    create_by: '',
    OwnedByTeamID: 5,
    glossary_of_terms: '',
    owned_by_team: {
      id: 5,
      name: 'Nhóm4',
      leader: { code: '', name: '', school_year: '', avatar: '' },
      course_offering: {
        code: '',
        name: '',
        location: '',
        start_lesson: 0,
        end_lesson: 0,
        school_year: '',
        weekday: '',
        serial: '',
        status: '',
        teacher: null
      }
    },
    status: true
  }
]
const columns = [

  {
    title: 'Tên đê tài',
    dataIndex: 'name',
    key: 'name',
    scopedSlots: { customRender: 'name' }
  },

  {
    title: 'Tạo bởi',
    dataIndex: 'create_by',
    key: 'create_by',
    scopedSlots: { customRender: 'name' }
  },
  {
    title: 'Nhóm',
    dataIndex: 'owned_by_team.name',
    key: 'owned_by_team',
    scopedSlots: { customRender: 'name' }
  },
  {
    title: 'Trạng thái',
    dataIndex: 'state',
    key: 'status',
    scopedSlots: { customRender: 'status' }
  },
  {
    title: 'Chức năng',
    // dataIndex: 'feature',
    key: 'feature',
    scopedSlots: { customRender: 'feature' }
  }

]
export default {
  data () {
    return {
      columns,
      data
    }
  },
  name: 'ListProject'
}
</script>

<style scoped>

</style>
