<template>
  <div>
    Thông tin project
    <h1>Mô tả đề tài</h1>
    <FormEditor></FormEditor>
    <h1>Từ điển thuật ngữ</h1>
    <FormEditor></FormEditor>
  </div>
</template>

<script>
import FormEditor from '../../share/FormEditor'

export default {
  name: 'ProjectDetail',
  components: {
    FormEditor
  }
}
</script>

<style scoped>

</style>
