<template>
  <div>
    <a-form :form="form" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
      <a-form-item label="Tên">
        <a-input
          v-decorator="['name', {initialValue: this.record.name},{ rules: [{ required: true, message: 'Please input your note!' }] }]"
        />
      </a-form-item>
      <a-form-item label="FileUpload">
        <div style="width: 20%">
          <a-upload
            list-type="picture"
            :customRequest="previewFile"

          >
            <a-button>Thêm file</a-button>
          </a-upload>
        </div>
      </a-form-item>
    </a-form>
  </div>
</template>

<script>
export default {
  name: 'FormDocument',
  data () {
    return {

      formLayout: 'horizontal',
      form: this.$form.createForm(this, { name: 'coordinated' })
    }
  },
  props: {
    visible: {
      type: Boolean,
      default: true
    },
    title: {
      type: String,
      default: 'Tạo đề tài mới'
    },
    record: {
      type: Object
    }
  },
  methods: {
    previewFile () {

    }
  }
}
</script>

<style scoped>

</style>
