<template>
  <div>
    <a-table :columns="columns" :data-source="data" bordered>
      <template v-slot:action>
        <a-button type="primary" @click="showPDF" icon="edit" style="margin: 3px;"/>
        <!--        <a-button type="danger" @click=" joinGroup (record)" icon="edit" styles="margin: 3px;"/>-->
      </template>
    </a-table>
  </div>
</template>

<script>
const columns = [
  {
    title: 'Tên tài liệu',
    dataIndex: 'name',
    key: 'name',
    scopedSlots: { customRender: 'name' }
  },
  {
    title: 'Tạo bởi',
    dataIndex: 'create_by',
    key: 'create_by',
    scopedSlots: { customRender: 'name' }
  },

  {
    title: 'Tạo từ',
    className: 'Group',
    dataIndex: 'created_at',
    key: 'created_at'
  },
  {
    title: 'Cập nhật',
    className: 'Group',
    dataIndex: 'updated_at',
    key: 'updated_at'

  },
  {
    title: 'Chức năng',
    className: 'Group',
    dataIndex: 'id',
    scopedSlots: { customRender: 'action' }
  }

]
export default {
  name: 'ListDocument',
  data () {
    return {
      columns
    }
  }
}
</script>

<style scoped>

</style>
