<template>
  <div :style="{ height: height }">
    <codemirror
      ref="cmEditor"
      v-model="code"
      :options="cmOptions"
      @ready="onCmReady"
      @focus="onCmFocus"
      @input="onCodeChange"
    />
    <a-upload

      :before-upload="transformFile"
    >
      <a-button> <a-icon type="upload" /> Upload </a-button>
    </a-upload>
    <a-button @click="downloadFile">save</a-button>
  </div>
</template>

<script>
import { saveAs } from 'file-saver'
import { mapActions } from 'vuex'
import { codemirror } from 'vue-codemirror'
import 'codemirror/keymap/sublime.js'
import 'codemirror/keymap/vim.js'
import 'codemirror/keymap/emacs.js'
import 'codemirror/addon/selection/active-line.js'
import 'codemirror/addon/hint/show-hint.js'
import 'codemirror/addon/comment/comment.js'

import 'codemirror/lib/codemirror.css'
import 'codemirror/theme/base16-dark.css'
import 'codemirror/theme/hopscotch.css'
import 'codemirror/theme/material.css'
import 'codemirror/theme/mbo.css'
import 'codemirror/theme/paraiso-dark.css'
import 'codemirror/theme/railscasts.css'
import 'codemirror/theme/seti.css'
import 'codemirror/theme/shadowfox.css'
import 'codemirror/theme/solarized.css'
import 'codemirror/theme/tomorrow-night-eighties.css'

export default {
  name: 'Editor',
  components: {
    codemirror
  },
  props: {
    height: {
      type: String,
      default: '100%'
    }
  },
  data () {
    return {
      code: 'const a = 10',
      cmOptions: {
        tabSize: 4,
        mode: 'text/javascript',
        theme: 'material',
        lineNumbers: true,
        line: true
        // more CodeMirror options...
      }
    }
  },
  computed: {},
  methods: {
    ...mapActions({ submitCode: 'plaintUML/genMarkdown' }),
    onCodeChange () {
      this.submitCode(this.code)
    },
    downloadFile () {
      const blob = new Blob([this.code], { type: 'text/plain;charset=utf-8' })
      saveAs(blob, 'tesx.md')
    },
    transformFile (file) {
      console.log(file)
      return new Promise(resolve => {
        const reader = new FileReader()
        reader.readAsText(file)
        reader.onload = (e) => {
          console.log(e)
          this.code = e.target.result
        }
      })
    }

  }
}
</script>

<style scoped>

</style>
