<template>
  <div style="text-align: left; font-family: Helvetica Neue, Arial, sans-serif;
  color: #333;">
    <div style=" " v-html="compiledMarkdown"></div>
    <a-button><a href="" id="a">click here to download your file</a></a-button>
  </div>

</template>

<script>
import marked from 'marked'
// import FileSaver from 'file-saver'
import { mapState } from 'vuex'

export default {
  name: 'MarkdownPreviewer',
  components: {},
  props: {
    height: {
      type: String,
      default: '100%'
    }
  },
  data () {
    return {
      code: '# Marked in browser\n\nRendered by **marked**.'
    }
  },
  computed: {
    ...mapState({ codeRender: state => state.plaintUML.markdown }),
    compiledMarkdown () {
      return marked(this.codeRender, { sanitize: true })
    }
  },
  methods: {}
}
</script>

<style scoped>
div >>> > div {
  color: red !important;
  min-height: 300px;
  border: 1px solid rgb(232, 232, 232);
  /*all: initial;*/
}

div >>> > h1 {
  display: block;
  font-size: 24px;
  margin-top: 5px;
  font-weight: bold;
}

div >>> > h2 {
  display: block;
  font-size: 20px;
  margin-top: 5px;
  font-weight: bold;
}

div >>> > h2 {
  display: block;

  font-size: 18px;
  margin-top: 5px;
  font-weight: bold;
}

</style>
