<template>
  <div>
    <template>
      <h1>Chi tiết ca sử dụng</h1>
      <a-form :form="form" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }" @submit="handleSubmit">
        <a-form-item label="Use Case ID">
          <a-input
            v-decorator="['note', { rules: [{ required: true, message: 'Please input your note!' }] }]"
          />
        </a-form-item>
        <a-form-item label="Use Case Name">
          <a-input
            v-decorator="['note', { rules: [{ required: true, message: 'Please input your note!' }] }]"
          />

        </a-form-item>
        <a-form-item label="Actor">
          <a-select
            v-decorator="[
          'gender',
          { rules: [{ required: true, message: 'Please select your gender!' }] },
        ]"
            placeholder="Select a option and change input text above"
            @change="handleSelectChange"
          >
            <a-select-option value="male">
              male
            </a-select-option>
            <a-select-option value="female">
              female
            </a-select-option>
          </a-select>
        </a-form-item>
        <a-form-item label="Priority">
          <a-select
            v-decorator="[
          'gender',
          { rules: [{ required: true, message: 'Please select your gender!' }] },
        ]"
            placeholder="Select a option and change input text above"
            @change="handleSelectChange"
          >
            <a-select-option value="male">
              male
            </a-select-option>
            <a-select-option value="female">
              female
            </a-select-option>
          </a-select>
        </a-form-item>
        <a-form-item label="Description">
        <FormEditor></FormEditor>
        </a-form-item>
<!--        <a-form-item label="Special Requirement:">-->
<!--          <ckeditor  read-only="true" :editor="editor" v-model="editorData" :config="editorConfig"></ckeditor>-->
<!--        </a-form-item>-->
<!--        <a-form-item label="Pre-Condition(s)">-->
<!--          <ckeditor  read-only="true" :editor="editor" v-model="editorData" :config="editorConfig"></ckeditor>-->
<!--        </a-form-item>-->
<!--        <a-form-item label="Post-Condition(s):">-->
<!--          <ckeditor  read-only="true" :editor="editor" v-model="editorData" :config="editorConfig"></ckeditor>-->
<!--        </a-form-item>-->
<!--        <a-form-item label="Basic Flow:">-->
<!--          <ckeditor  read-only="true" :editor="editor" v-model="editorData" :config="editorConfig"></ckeditor>-->
<!--        </a-form-item>-->
<!--        <a-form-item label="Alternative Flow:">-->
<!--          <ckeditor  read-only="true" :editor="editor" v-model="editorData" :config="editorConfig"></ckeditor>-->
<!--        </a-form-item>-->
<!--        <a-form-item label="Extension Points:">-->
<!--          <ckeditor  read-only="true" :editor="editor" v-model="editorData" :config="editorConfig"></ckeditor>-->
<!--        </a-form-item>-->

      </a-form>
    </template>
  </div>
</template>

<script>
import FormEditor from '../../share/FormEditor'
export default {
  name: 'UsecaseForm',
  components: {
    FormEditor
  },
  data () {
    return {
      formLayout: 'horizontal',
      form: this.$form.createForm(this, { name: 'coordinated' }),
      editorData: '<p>Content of the editor.</p>',
      editorConfig: {
      // The configuration of the editor.
      }
    }
  }
}
</script>

<style scoped>

</style>
