<template>
  <div>
    <a-row >
      <a-col :span="15">
          Miêu tả use case
        <UsecaseForm></UsecaseForm>
      </a-col>

    <a-col :span="9">
      <div>
        <a-tabs default-active-key="1" @change="callback">
          <a-tab-pane key="1" tab=" Use Case Slice">
            <ListUseCaseSlice></ListUseCaseSlice>
            <a-button type="primary"> Thêm</a-button>
          </a-tab-pane>
          <a-tab-pane key="2" tab="Use Case Story" force-render>
            <ListUseCaseStory></ListUseCaseStory>
            <a-button type="primary"> Thêm</a-button>
          </a-tab-pane>
          <a-tab-pane key="3" tab="Use Case Test Case" force-render>
            <ListUseCaseTestCase></ListUseCaseTestCase>
            <a-button type="primary"> Thêm</a-button>
          </a-tab-pane>
        </a-tabs>
      </div>
    </a-col>
    </a-row>
  </div>
</template>

<script>
import ListUseCaseSlice from '../use_case_slice/ListUseCaseSlice'
import ListUseCaseStory from '../use_case_story/ListUseCaseStory'
import ListUseCaseTestCase from '../use_case_test_case/ListUseCaseTestCase'
import UsecaseForm from './FormUsecase'
export default {
  name: 'UsecaseDetail',
  components: {
    UsecaseForm,
    ListUseCaseSlice,
    ListUseCaseStory,
    ListUseCaseTestCase
  }
}
</script>

<style scoped>

</style>
