<template>
  <div :style="{ height: height }">
    <codemirror
      ref="cmEditor"
      v-model="code"
      :options="cmOptions"
      @ready="onCmReady"
      @focus="onCmFocus"
      @input="onCodeChange"
    />
    <a-button @click="creatUMl">Submit</a-button>
  </div>
</template>

<script lang="js">
/* @flow */

import { codemirror } from 'vue-codemirror'
import 'codemirror/keymap/sublime.js'
import 'codemirror/keymap/vim.js'
import 'codemirror/keymap/emacs.js'
import 'codemirror/addon/selection/active-line.js'
import 'codemirror/addon/hint/show-hint.js'
import 'codemirror/addon/comment/comment.js'

import 'codemirror/lib/codemirror.css'

// theme
import 'codemirror/theme/base16-dark.css'
import 'codemirror/theme/hopscotch.css'
import 'codemirror/theme/material.css'
import 'codemirror/theme/mbo.css'
import 'codemirror/theme/paraiso-dark.css'
import 'codemirror/theme/railscasts.css'
import 'codemirror/theme/seti.css'
import 'codemirror/theme/shadowfox.css'
import 'codemirror/theme/solarized.css'
import 'codemirror/theme/tomorrow-night-eighties.css'

// addon
import 'codemirror/addon/hint/show-hint.css'
import { mapActions } from 'vuex'
export default {
  name: 'Editor',
  components: {
    codemirror
  },
  props: {
    height: {
      type: String,
      default: '100%'
    }
  },
  data () {
    return {
      code: 'const a = 10',
      cmOptions: {
        tabSize: 4,
        mode: 'text/javascript',
        theme: 'material',
        lineNumbers: true,
        line: true
        // more CodeMirror options...
      }
    }
  },
  computed: {},
  methods: {
    ...mapActions({ submitCode: 'plaintUML/genUmlImage' }),
    onCodeChange () {
      this.submitCode(this.code)
    }

  }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.vue-codemirror {
  height: 100%;
}
</style>
