<template>
  <div style="text-align: center">
    <div>
      <p>
        <img :src="codeRender"/>
      </p>
    </div>
   {{codeRender}}
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  name: 'UMLPreviewer',
  data () {
    return {
      src: ''
    }
  },
  methods: {

    ...mapActions({ genUMl: 'plaintUML/genUmlImage' }),
    createUml () {
      this.genUMl()
    }
  },
  computed: {
    ...mapState({ codeRender: state => state.plaintUML.codeRender })
  }
}
</script>

<style scoped>

</style>
