<template>
  <div>
    <a-table :columns="columns" :data-source="data" bordered>
      <template slot="action" slot-scope="status,record">
        <a-button type="primary" @click="editModal(record)" icon="edit" style="margin: 3px;"/>
        <a-button type="danger" icon="edit" style="margin: 3px;"/>
      </template>
    </a-table>
  </div>
</template>

<script>
const columns = [

  {
    title: 'Tiêu chí',
    dataIndex: 'name',
    key: 'name'
  },

  {
    title: 'Mô tả',
    dataIndex: 'factor',
    key: 'factor'
  },
  {
    title: 'Chức năng',
    className: 'Group',
    dataIndex: 'id',
    scopedSlots: { customRender: 'action' }
  }
]
const data = [
  {
    id: '1',
    name: 'Điểm bài tập 1',
    factor: 0.25
  },
  {
    id: '1',
    name: 'Điểm bài tập 2',
    factor: 0.25
  }
]
export default {
  name: 'Configration',
  data () {
    return {
      columns,
      data
    }
  }
}
</script>

<style scoped>

</style>
