<template>
  <a-layout id="components-layout-demo-fixed-sider" style="min-height: 100vh">
    <a-layout-sider collapsible v-model="collapsed" >
      <Slider></Slider>
    </a-layout-sider>
    <a-layout>
      <a-layout-header style="background: #FFFFFF; padding: 0;padding: 15px ;z-index: inherit">
        <Header></Header>
      </a-layout-header>
      <a-layout-content  :style="{ margin: '24px 16px 0', background: '#fff', overflow: 'initial' }">
        <div :style="{ padding: '24px', background: '#fff', textAlign: 'center' }">
        <router-view style="height: 100%"/>

        </div>

      </a-layout-content>
      <a-layout-footer style="text-align: center">
        <Footer></Footer>
      </a-layout-footer>
    </a-layout>
  </a-layout>
</template>

<script>
import Header from '../components/header'
import Footer from '../components/footer'
import Slider from '../components/slider'

export default {
  name: 'Dashboard',
  components: { Header, Footer, Slider },
  data () {
    return {
      collapsed: true
    }
  }

}
</script>

<style scoped>
#components-layout-demo-side .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
</style>
