<template>
  <div class="card-container">
    <a-tabs
      default-active-key="1"
      :tab-position="mode"

      @prevClick="callback"
      @nextClick="callback"

    >
      <a-tab-pane v-for="pane in panes" :key="pane.id" :tab="pane.name">
        <div >
          <IterationDetail :iteration="pane"></IterationDetail>
        </div>

      </a-tab-pane>

    </a-tabs>
  </div>

</template>

<script>

import IterationDetail from '../view/IterationDetail'
import { mapActions } from 'vuex'
export default {
  name: 'Document',
  components: {
    IterationDetail
  },
  data () {
    return {
      mode: 'left',
      panes: [
        { id: 'new', name: 'vòng lặp mới' }
      ]
    }
  },
  async mounted () {
    const { data } = await this.getIterationInGroup({ group_id: this.$route.params.group_id })
    this.panes = data
    this.panes.push({ id: 'new', name: 'vòng lặp mới' })
  },
  methods: {
    ...mapActions({ getIterationInGroup: 'ooad/getListIteration' }),
    callback (val) {
      console.log(val)
    },
    createIteration () {
      const panes = this.panes
      const activeKey = `newTab${this.newTabIndex++}`
      panes.push({ title: 'New Tab', content: 'Content of new Tab', key: activeKey })
      this.panes = panes
    }
  }

}
</script>

<style scoped>
.card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
  overflow:auto;
  height:200%
}
</style>
