<template>
  <div style="">
    <a-upload
      list-type="picture"
      :customRequest="previewFile"
      :loading="uploading"
    >
      <a-button>
        <a-icon type="upload"/>
        Upload
      </a-button>
    </a-upload>
    <div>21312</div>
    <pdf
          v-for="i in numPages"
          :key="i"
          src="/api/v1/file/static/5f96e618b5f13de4bb645511"
          :page="i"

    ></pdf>
    <a-button @click="change"> next</a-button>
    <div>21312</div>
  </div>

</template>

<script>
import { mapActions } from 'vuex'
import pdf from 'vue-pdf'

export default {
  name: 'Lecture',
  data () {
    return {
      uploading: false,
      pageCount: 4,
      currentPage: 3,
      src: {},
      numPages: 0

    }
  },
  components: {
    pdf
  },
  mounted () {
    this.src = pdf.createLoadingTask('/api/v1/file/static/5f96e618b5f13de4bb645511')
    this.src.promise.then(pdf => {
      this.numPages = pdf.numPages
    })
  },
  methods: {
    ...mapActions({ uploadFile: 'ooad/uploadFile' }),
    async previewFile (file) {
      console.log('Your upload file:', file)
      // Your process logic. Here we just mock to the same file
      const { success, data } = await this.uploadFile(file.file)
      console.log(success, data)
      this.uploading = false
      return success
    },
    change () {
      this.currentPage++
      console.log(this.currentPage)
    }

  }
}
</script>

<style scoped>

</style>
