<template>
  <div>
    <div style="flex-direction:row ; display: flex ; margin-bottom: 15px ">
      <div style="width: 20%">
        <!--        <a-button style="float:right" type="primary" @click="showModal">-->
        <!--          <a-icon type="plus"></a-icon>-->
        <!--          Tạo nhóm mới-->
        <!--        </a-button>-->

      </div>
    </div>

    <FormGroup v-bind:title="title" v-bind:visible="visible" v-bind:group="formData"
               @close="handleClose"></FormGroup>
  </div>
</template>

<script>
import FormGroup from '../components/course/FormGroup'
import { mapActions } from 'vuex'
const columns = []
export default {
  name: 'ListGroup',
  data () {
    return {
      data: [],
      columns,
      visible: false,
      formData: {},
      title: ''
    }
  },
  components: {
    FormGroup
  },
  async mounted () {
    // const { data } = await this.getListGroup('123')
  },
  methods: {

    ...mapActions({ addStudentInGroup: 'ooad/addStudentInGroup' }),
    ...mapActions({ getListGroup: 'ooad/getListGroup' }),
    ...mapActions({ createNotification: 'ooad/createNotification' }),
    ...mapActions({ isStudent: 'isStudent' }),
    ...mapActions({ isTeacher: 'isTeacher' }),
    showModal () {
      this.title = 'Tạo nhóm mới'
      this.visible = true
      console.log(this.visible)
      this.formData = {}
    },
    handleClose () {
      this.visible = false
      console.log(this.visible)
      this.formData = {}
    },
    showModalEdit (record) {
      this.title = 'Sửa đề tài'
      this.visible = true
      this.formData = Object.assign(this.formData, record)
    },
    async joinGroup (record) {
      const payload = {
        type: 'require_in_group',
        to: record.leader_code,
        value: {
          group: record.id
        }
      }
      console.log(record.leader_code)
      const { success } = await this.createNotification(payload)
      if (success === true) {
        this.$notification.open({
          message: 'Success',
          description: `Gửi yêu câu tham gia ${record.name}thành công`,
          icon: <a-icon type="smile" style="color: #00A651"/>
        })
      }
    }
  }
}
</script>

<style scoped>

</style>
