<template>
  <div>
    <div style="flex-direction:row ; display: flex ; margin-bottom: 15px ">
      <div class="h1" style="width: 80%">Danh sách tài liệu</div>
      <div style="width: 20%">
        <a-upload
          list-type="picture"
          :customRequest="previewFile"

        >
          <a-button>Thêm file</a-button>
        </a-upload>
      </div>
    </div>
    <a-table :columns="columns" :data-source="data" bordered>
      <template v-slot:action>
        <a-button type="primary" @click="showPDF" icon="edit" style="margin: 3px;"/>
        <!--        <a-button type="danger" @click=" joinGroup (record)" icon="edit" styles="margin: 3px;"/>-->
      </template>
    </a-table>
    <PdfPreview v-bind:visible="visible"></PdfPreview>
  </div>
</template>

<script>

import PdfPreview from './PdfPreview'
import { mapActions } from 'vuex'

const columns = [
  {
    title: 'Tên tài liệu',
    dataIndex: 'name',
    key: 'name',
    scopedSlots: { customRender: 'name' }
  },
  {
    title: 'Tạo bởi',
    dataIndex: 'create_by',
    key: 'create_by',
    scopedSlots: { customRender: 'name' }
  },

  {
    title: 'Tạo từ',
    className: 'Group',
    dataIndex: 'created_at',
    key: 'created_at'
  },
  {
    title: 'Cập nhật',
    className: 'Group',
    dataIndex: 'updated_at',
    key: 'updated_at'

  },
  {
    title: 'Chức năng',
    className: 'Group',
    dataIndex: 'id',
    scopedSlots: { customRender: 'action' }
  }

]

export default {
  name: 'ListDocument',
  components: {
    PdfPreview
  },
  props: {
    iteration: Object
  },
  async mounted () {
    for (let i = 0; i < this.$props.iteration.files.length; i++) {
      const { data } = await this.getInfoFile(this.$props.iteration.files[i])
      this.data.push(data)
    }
  },
  data () {
    return {
      data: [],
      columns,
      visible: false
    }
  },
  methods: {
    showPDF () {
      this.visible = true
    },
    ...mapActions({ getInfoFile: 'ooad/getInfoFile' }),
    ...mapActions({ uploadFile: 'ooad/uploadFile' }),
    ...mapActions({ addFileInIteration: 'ooad/addFileInIteration' }),
    async previewFile (file) {
      console.log('Your upload file:', file)
      // Your process logic. Here we just mock to the same file
      const { success, data } = await this.uploadFile(file.file)
      console.log(success, data)
      const res = await this.addFileInIteration({ id: this.iteration.id, payload: { files: [data.id] } })
      console.log(res)
      this.uploading = false
      return success
    }
  }

}
</script>

<style scoped>

</style>
