<template>
  <a-modal :visible="visible" title="PDF" @ok="handleOk" @cancel="handleClose">
    <pdf src="https://cdn.mozilla.net/pdfjs/tracemonkey.pdf"></pdf>
  </a-modal>
</template>

<script>
import pdf from 'vue-pdf'

export default {
  name: 'PdfPreview',
  components: {
    pdf
  },
  props: {
    visible: {
      type: Boolean,
      default: true
    },
    title: {
      type: String,
      default: 'Create API'
    },
    semester: {
      type: Object
    }
  },
  methods: {
    handleOk () {
    },
    handleClose () {
    }
  }
}
</script>

<style scoped>

</style>
