<template>
  <a-modal class="userForm" width="500px" :visible="visible" :title="title" @ok="handleOk" @cancel="handleClose">
    <a-form :form="form" @submit="handleOk">
      <a-form-item label="Full name">
        <a-input
          v-decorator="[
          'fullName',
            {initialValue: this.data.full_name},
          {
            rules: [
              {
                required: true,
                message: 'Please input your username!',
              },
            ],
          },
        ]"
        />
      </a-form-item>
      <a-form-item label="Username">
        <a-input
          v-decorator="[
          'username',
          {initialValue: this.data.username},
          {
            rules: [
              {
                required: true,
                message: 'Please input your username!',
              },
            ],
          },
        ]"
        />
      </a-form-item>
      <a-form-item label="E-mail">
        <a-input
          v-decorator="[
          'email',
          {initialValue: this.data.email},
          {
            rules: [
              {
                type: 'email',
                message: 'The input is not valid E-mail!',
              },
              {
                required: true,
                message: 'Please input your E-mail!',
              },
            ],
          },
        ]"
        />
      </a-form-item>
      <a-form-item label="Role">
        <a-select v-decorator="[
          'role',
          {initialValue: this.data.role },
          {
            rules: [
              {
                required: true,
                message: 'Please input your E-mail!',
              },
            ],
          },
        ]" style="width: 120px"

        >

          <a-select-option v-for="i in role" :key=i.id :value="i.code">
            {{ i.name }}
          </a-select-option>
        </a-select>
      </a-form-item>
      <a-form-item label="Password" has-feedback>
        <a-input
          v-decorator="[
          'password',
          {
            rules: [
              {
                required: true,
                message: 'Please input your password!',
              },
            ],
          },
        ]"
          type="password"
        />
      </a-form-item>

    </a-form>
  </a-modal>

</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'UserForm',
  data () {
    return {
      form: this.$form.createForm(this, { name: 'coordinated' }),
      labelCol: { span: 7 },
      wrapperCol: { span: 19 },
      role: []
    }
  },
  props: {
    visible: {
      type: Boolean,
      default: true
    },
    title: {
      type: String,
      default: 'Tạo tài khoản người dùng'
    },
    data: {
      type: Object
    }
  },
  async mounted () {
    const { data } = await this.getListRole({})
    console.log(data)
    this.role = data
  },
  methods: {
    ...mapActions({ getListRole: 'account/getListRole' }),
    ...mapActions({ createUser: 'account/createUser' }),
    ...mapActions({ updateUser: 'account/updateUser' }),
    handleOk (e) {
      e.preventDefault()
      this.form.validateFields(async (err, values) => {
        if (!err) {
          if (this.title === 'Tạo tài khoản người dùng') {
            await this.createUser(values)
            this.$emit('close', false)
          } else {
            await this.updateUser({ id: this.data.id, payload: values })
            this.$emit('close', false)
          }
        }
        console.log('Received values of form: ', err)
      })
    },
    handleClose () {
      this.$emit('close', false)
    },
    handleChangeRole () {
    }
  }

}
</script>

<style scoped>
.userForm >>> .ant-form-item {
  margin-bottom: 5px;
}

.userForm >>> .ant-form-item-label {
  line-height: 30px;
}

.userForm >>> .ant-modal-header {
  padding: 10px 20px;
}

.userForm >>> .ant-modal-body {
  padding: 15px 20px;
  font-size: 14px;
  line-height: 1.4;
}

.userForm >>> .ant-modal-title {
  font-size: 18px;
}
</style>
