<template>
  <div>
<!--    <a-form :form="form" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">-->
<!--      <a-form-item label="Số lượng thành viên nhóm ít nhất ">-->
<!--        <a-input-->
<!--            v-decorator="['name',,{ rules: [{ required: true, message: 'Please input your note!' }] }]"-->
<!--        />-->
<!--      </a-form-item>-->

<!--      <a-form-item label="Số lượng thành viên nhóm nhiều nhất">-->
<!--        <a-input-->
<!--            v-decorator="['location',,{ rules: [{ required: true, message: 'Please input your note!' }] }]"-->
<!--        />-->
<!--      </a-form-item>-->
<!--      <a-form-item label="Giới hạn ngày phát triển nhiều nhất">-->

<!--        <a-select-->
<!--            v-decorator="['start_lesson', ,{ rules: [{ required: true, message: 'Please input your note!' }] }]">-->
<!--          <a-select-option v-for="i in 12" :key="i">-->
<!--            {{ i + "" }}-->
<!--          </a-select-option>-->
<!--        </a-select>-->

<!--      </a-form-item>-->
<!--      <a-form-item label="Giới hạn phát triển">-->

<!--        <a-select-->
<!--            v-decorator="['end_lesson', ,{ rules: [{ required: true, message: 'Please input your note!' }] }]">-->
<!--          <a-select-option v-for="i in 12" :key="i">-->
<!--            {{ i + "" }}-->
<!--          </a-select-option>-->
<!--        </a-select>-->

<!--      </a-form-item>-->

<!--      <a-form-item label="Tiêu chí chấm điểm">-->
<!--        <a-input-->
<!--            v-decorator="['weekday',{ rules: [{ required: true, message: 'Please input your note!' }] }]"-->
<!--        />-->
<!--      </a-form-item>-->

<!--    </a-form>-->
    <a-collapse accordion>
      <a-collapse-panel key="1" header="Cấu hình vòng lặp phát triển ">
      </a-collapse-panel>
      <a-collapse-panel key="2" header="Cấu hình nhóm">
      </a-collapse-panel>
      <a-collapse-panel key="3" header="Cấu hình chấm điểm">
        <ListCriteria></ListCriteria>
      </a-collapse-panel>
    </a-collapse>

  </div>
</template>

<script>
import ListCriteria from '../criteria/ListCriteria'

export default {
  name: 'ClassSetting',
  data () {
    return {
      form: this.$form.createForm(this, { name: 'coordinated' })
    }
  },
  components: {
    ListCriteria
  }
}
</script>

<style scoped>

</style>
