<template>
  <div>
    <a-tabs default-active-key="1" @change="callback">
      <a-tab-pane key="1" tab="Sinh viên">
        <ListStudent></ListStudent>
      </a-tab-pane>
      <a-tab-pane key="2" tab="Nhóm" force-render>
        <ListGroup></ListGroup>
      </a-tab-pane>
      <a-tab-pane key="3" tab="Đề tài" force-render>
        <ListTopic></ListTopic>
      </a-tab-pane>
      <a-tab-pane key="4" tab="Cài đặt lớp học">
        <ClassSetting></ClassSetting>
      </a-tab-pane>
    </a-tabs>
  </div>
</template>

<script>
import ListStudent from './ListStudent'
import ListGroup from '../ListGroup'
import ClassSetting from '../course/ClassSetting'
import ListTopic from '@/modules/online-learing/components/course/ListTopic'

export default {
  name: 'Course',
  components: {
    ListTopic,
    ListStudent,
    ListGroup,
    ClassSetting

  },
  methods: {
    callback () {
    }
  }
}
</script>

<style scoped>

</style>
