<template>
  <a-modal :visible="visible" :title="title" @ok="handleOk" @cancel="handleClose">
  </a-modal>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'FormGroup',
  data () {
    return {
      form: this.$form.createForm(this, { name: 'coordinated' }),
      topics: []
    }
  },
  props: {
    visible: {
      type: Boolean,
      default: true
    },
    title: {
      type: String,
      default: 'Tạo đề tài mới'
    },
    group: {
      type: Object
    }
  },
  async mounted () {
    const { data } = await this.getTopicInClass(this.$route.params.id)
    this.topics = data
  },
  methods: {
    // ...mapActions({ createTopic: 'ooad/createTopic' }),
    ...mapActions({ updateGroup: 'ooad/updateGroup' }),
    ...mapActions({ createGroup: 'ooad/createGroup' }),
    ...mapActions({ getTopicInClass: 'ooad/getTopicInClass' }),

    handleOk (e) {
      e.preventDefault()
      this.form.validateFields(async (err, values) => {
        if (!err) {
          const payload = {
            name: values.name,
            topic_id: values.topic_id,
            class_id: this.$route.params.id
          }
          if (this.title === 'Tạo nhóm mới') {
            console.log('Received values of form: ', payload)
            const res = await this.createGroup(payload)
            console.log('Received values of form: ', res)
            if (res.success === true) {
              this.$notification.open({
                message: 'Success',
                description: 'Tạo kỳ học thành công',
                icon: <a-icon type="smile" style="color: #00A651"/>
              })
              this.form.resetFields()
              this.$emit('close', false)
            }
          } else {
            const res = await this.updateGroup({ id: this.group.id, payload })
            if (res.success === true) {
              this.$notification.open({
                message: 'Success',
                description: 'Sửa kỳ học thành công',
                icon: <a-icon type="smile" style="color: #00A651"/>
              })
              this.form.resetFields()
              this.$emit('close', false)
            }
          }
        }
      })
    },
    handleClose () {
      this.$emit('close', false)
    }
  }
}
</script>

<style scoped>

</style>
