<template>
  <a-modal :visible="visible" :title="title" @ok="handleOk" @cancel="handleClose">
    <a-form :form="form" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
      <a-form-item label="Name">
        <a-input
          v-decorator="['name', {initialValue: this.topic.name},{ rules: [{ required: true, message: 'Please input your note!' }] }]"
        />
      </a-form-item>
      <a-form-item label="Mô tả" has-feedback>
        <a-input
          v-decorator="['description', {initialValue: this.topic.description},{ rules: [{ required: true, message: 'Please input your note!' }] }]"
        />
      </a-form-item>
    </a-form>
  </a-modal>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: 'FormTopic',
  data () {
    return {
      form: this.$form.createForm(this, { name: 'coordinated' })
    }
  },
  props: {
    visible: {
      type: Boolean,
      default: true
    },
    title: {
      type: String,
      default: 'Tạo đề tài mới'
    },
    topic: {
      type: Object
    }
  },
  methods: {
    ...mapActions({ createTopic: 'ooad/createTopic' }),
    ...mapActions({ updateTopic: 'ooad/updateTopic' }),

    handleOk (e) {
      e.preventDefault()
      this.form.validateFields(async (err, values) => {
        if (!err) {
          const payload = {
            name: values.name,
            description: values.description,
            class_id: this.$route.params.id
          }
          if (this.title === 'Tạo đề tài mới') {
            console.log('Received values of form: ', payload)
            const res = await this.createTopic(payload)
            console.log('Received values of form: ', res)
            if (res.success === true) {
              this.$notification.open({
                message: 'Success',
                description: 'Tạo kỳ học thành công',
                icon: <a-icon type="smile" style="color: #00A651"/>
              })
              this.form.resetFields()
              this.$emit('close', false)
            }
          } else {
            const res = await this.updateTopic({ id: this.topic.id, payload })
            if (res.success === true) {
              this.$notification.open({
                message: 'Success',
                description: 'Sửa kỳ học thành công',
                icon: <a-icon type="smile" style="color: #00A651"/>
              })
              this.form.resetFields()
              this.$emit('close', false)
            }
          }
        }
      })
    },
    handleClose () {
      this.$emit('close', false)
    }
  }
}
</script>

<style scoped>

</style>
