<template>
  <div>
    <a-modal :visible="visible" :title="title" @ok="handleOk" @cancel="handleClose">
      <a-form :form="form" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
        <a-form-item label="Tên khóa học">
          <a-input
            v-decorator="['name', {initialValue: this.data.name},{ rules: [{ required: true, message: 'Please input your note!' }] }]"
          />
        </a-form-item>

        <a-form-item label="Vị trí">
          <a-input
            v-decorator="['location', {initialValue: this.data.location},{ rules: [{ required: true, message: 'Please input your note!' }] }]"
          />
        </a-form-item>
        <a-form-item label="Tiết học bắt đầu">

          <a-select  v-decorator="['start_lesson', {initialValue: this.data.start_lesson},{ rules: [{ required: true, message: 'Please input your note!' }] }]">
            <a-select-option v-for="i in 12" :key="i">
              {{ i+""}}
            </a-select-option>
          </a-select>

        </a-form-item>
        <a-form-item label="Tiết học kết thúc">

          <a-select  v-decorator="['end_lesson', {initialValue: this.data.end_lesson},{ rules: [{ required: true, message: 'Please input your note!' }] }]">
            <a-select-option v-for="i in 12" :key="i">
              {{ i+""}}
            </a-select-option>
          </a-select>

        </a-form-item>

        <a-form-item label="Ngày trong tuần">
          <a-input
            v-decorator="['weekday', {initialValue: this.data.weekday},{ rules: [{ required: true, message: 'Please input your note!' }] }]"
          />
        </a-form-item>
        <a-form-item label="Giảng viên">
          <a-select  v-decorator="['teacher_code', {initialValue: this.data.teacher_code},{ rules: [{ required: true, message: 'Please input your note!' }] }]">
            <a-select-option v-for="(i) in teachers" :key="i.code">
              {{ i.full_name}}
            </a-select-option>
          </a-select>

        </a-form-item>
        <a-form-item label="Kì học">
          <a-select  v-decorator="['semester_id', {initialValue: this.data.semester_id},{ rules: [{ required: true, message: 'Please input your note!' }] }]">
            <a-select-option v-for="(i) in semesters" :key="i.id">
              {{ i.name}}
            </a-select-option>
          </a-select>

        </a-form-item>
      </a-form>
    </a-modal>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: 'FormCourse',
  data () {
    return {
      form: this.$form.createForm(this, { name: 'coordinated' }),
      teachers: [],
      semesters: []
    }
  },
  props: {
    visible: {
      type: Boolean,
      default: true
    },
    title: {
      type: String,
      default: 'Create API'
    },
    data: {
      type: Object
    }
  },
  async mounted () {
    const { data } = await this.getListTeacher({})
    this.teachers = data
    const a = await this.getListSemester({})
    this.semesters = a.data
  },
  methods: {

    ...mapActions({ getListTeacher: 'ooad/getListTeacher' }),
    ...mapActions({ getListSemester: 'ooad/getListSemester' }),
    ...mapActions({ createCourse: 'ooad/createCourse' }),
    ...mapActions({ updateClass: 'ooad/updateClass' }),
    handleOk (e) {
      e.preventDefault()
      this.form.validateFields(async (err, values) => {
        if (!err) {
          console.log(values)
          if (this.title === 'Tạo lớp học mới') {
            const res = await this.createCourse(values)
            console.log('Received values of form: ', res)
            if (res.success === true) {
              this.$notification.open({
                message: 'Success',
                description: 'Tạo lớp học thành công',
                icon: <a-icon type="smile" style="color: #00A651" />
              })
              this.form.resetFields()
              this.$emit('close', false)
            }
          } else {
            const res = await this.updateClass({ id: this.data.id, payload: values })
            console.log('Received values of form: ', res)
            if (res.success === true) {
              this.$notification.open({
                message: 'Success',
                description: 'Sửa lớp học thành công',
                icon: <a-icon type="smile" style="color: #00A651"/>
              })
              this.form.resetFields()
              this.$emit('close', false)
            }
          }
        }
      })
    },
    handleClose () {
      this.$emit('close', false)
    }
  }
}
</script>

<style scoped>

</style>
