<template>
  <div>
    <a-table :columns="columns" :data-source="data" bordered>
      <a slot="name" slot-scope="text">{{ text }}</a>
      <template slot="status" slot-scope="status,record">
        <a-switch :defaultChecked=record.status @change="handleUpdateStatus (record)"/>
      </template>
      <template slot="semester" slot-scope="status,record">
        {{ record.school_year }} {{ record.serial }}
      </template>
      <template slot="feature" slot-scope="status,record">
        <!--          feature,record-->
        <!--          <a-button @click="$router.push({name: 'Course Detail', params: { id: record.id },})" icon="unordered-list">-->

        <!--          </a-button>-->
        <a-dropdown>
          <a-button type="primary" @click="e => e.preventDefault()" icon="unordered-list" style="margin: 3px;"/>
          <!--            <a class="ant-dropdown-link" @click="e => e.preventDefault()">-->
          <!--              Hover me <a-icon type="down" />-->
          <!--            </a>-->
          <a-menu slot="overlay">
            <a-menu-item>
              <h1 @click="$router.push({name: 'ListStudentInCourseContainer', params: { course_code: record.code},})">Danh sách sinh
                viên</h1>
            </a-menu-item>
            <a-menu-item>
              <a @click="$router.push({name: 'ListProjectContainer', params: { course_code: record.code },})">Danh sách đề
                tài</a>
            </a-menu-item>
            <a-menu-item>
              <a @click="$router.push({name: 'ListGroupContainer', params: { course_code: record.code },})">Danh sách nhóm</a>
            </a-menu-item>
            <a-menu-item>
              <a @click="$router.push({name: 'ConfigurationCourseContainer', params: { course_code: record.code },})">Cấu hình lớp học</a>
            </a-menu-item>
          </a-menu>
        </a-dropdown>

      </template>
    </a-table>
  </div>
</template>

<script>
const columns = [
  {
    title: 'Kì học',
    dataIndex: 'semester',
    key: 'semester',
    scopedSlots: { customRender: 'semester' }
  },

  {
    title: 'Mã',
    dataIndex: 'code',
    key: 'code',
    scopedSlots: { customRender: 'name' }
  },

  {
    title: 'Tên khóa học',
    dataIndex: 'name',
    key: 'name',
    ellipsis: true,
    width: '25%'
  },
  {
    title: 'Ngày trong tuần',
    dataIndex: 'weekday',
    key: 'weekday'
  },
  {
    title: 'Ví trí',
    dataIndex: 'location',
    key: 'location'
  },
  {
    title: 'Tiết học bắt đầu ',
    dataIndex: 'start_lesson',
    key: 'start_lesson'
  },
  {
    title: 'Tiết học kết thúc',
    dataIndex: 'end_lesson',
    key: 'end_lesson',
    scopedSlots: { customRender: 'lesion' }
  },
  // {
  //   title: 'Giảng viên',
  //   dataIndex: 'teacher.full_name',
  //   key: 'teacher'
  // },
  {
    title: 'Trạng thái',
    dataIndex: 'status',
    key: 'status'
    // scopedSlots: { customRender: 'status' }
  },
  {
    title: 'Chức năng',
    dataIndex: 'feature',
    key: 'feature',
    scopedSlots: { customRender: 'feature' }
  }

]
const data = [
  {
    code: '2020_1_INT 31100',
    name: 'Phân tích thiết kế hướng đối tượng',
    location: 'P.304,GD2',
    start_lesson: 0,
    end_lesson: 3,
    school_year: '2020-2021',
    weekday: 'Thứ 2',
    serial: 'học kì1',
    status: 'Hoàn thành',
    teacher: { code: '100000010', name: 'giangvien0', avatar: '' }
  }, {
    code: '2020_1_INT 31101',
    name: 'Phân tích thiết kế hướng đối tượng',
    location: 'P.304,GD2',
    start_lesson: 1,
    end_lesson: 4,
    school_year: '2020-2021',
    weekday: 'Thứ 2',
    serial: 'học kì1',
    status: 'Đang diễn ra',
    teacher: { code: '100000011', name: 'giangvien1', avatar: '' }
  }, {
    code: '2020_1_INT 31102',
    name: 'Phân tích thiết kế hướng đối tượng',
    location: 'P.304,GD2',
    start_lesson: 2,
    end_lesson: 5,
    school_year: '2020-2021',
    weekday: 'Thứ 2',
    serial: 'học kì0',
    status: 'Đang diễn ra',
    teacher: { code: '100000012', name: 'giangvien2', avatar: '' }
  }, {
    code: '2020_1_INT 31103',
    name: 'Phân tích thiết kế hướng đối tượng',
    location: 'P.304,GD2',
    start_lesson: 3,
    end_lesson: 6,
    school_year: '2020-2021',
    weekday: 'Thứ 2',
    serial: 'học kì0',
    status: 'Hoàn thành',
    teacher: { code: '100000013', name: 'giangvien3', avatar: '' }
  }, {
    code: '2020_0_INT 31104',
    name: 'Phân tích thiết kế hướng đối tượng',
    location: 'P.304,GD2',
    start_lesson: 4,
    end_lesson: 7,
    school_year: '2020-2021',
    weekday: 'Thứ 2',
    serial: 'học kì0',
    status: 'Đang diễn ra',
    teacher: { code: '100000014', name: 'giangvien4', avatar: '' }
  }, {
    code: '2020_0_INT 31105',
    name: 'Phân tích thiết kế hướng đối tượng',
    location: 'P.304,GD2',
    start_lesson: 5,
    end_lesson: 8,
    school_year: '2020-2021',
    weekday: 'Thứ 2',
    serial: 'học kì1',
    status: 'Đang diễn ra',
    teacher: { code: '100000015', name: 'giangvien5', avatar: '' }
  }, {
    code: '2020_0_INT 31106',
    name: 'Phân tích thiết kế hướng đối tượng',
    location: 'P.304,GD2',
    start_lesson: 6,
    end_lesson: 9,
    school_year: '2020-2021',
    weekday: 'Thứ 2',
    serial: 'học kì1',
    status: 'Hoàn thành',
    teacher: { code: '100000010', name: 'giangvien0', avatar: '' }
  }, {
    code: '2020_0_INT 31107',
    name: 'Phân tích thiết kế hướng đối tượng',
    location: 'P.304,GD2',
    start_lesson: 7,
    end_lesson: 10,
    school_year: '2020-2021',
    weekday: 'Thứ 2',
    serial: 'học kì0',
    status: 'Đang diễn ra',
    teacher: { code: '100000011', name: 'giangvien1', avatar: '' }
  }, {
    code: '2020_1_INT 31108',
    name: 'Phân tích thiết kế hướng đối tượng',
    location: 'P.304,GD2',
    start_lesson: 8,
    end_lesson: 11,
    school_year: '2020-2021',
    weekday: 'Thứ 2',
    serial: 'học kì1',
    status: 'Đang diễn ra',
    teacher: { code: '100000012', name: 'giangvien2', avatar: '' }
  }]
export default {
  name: 'ListCourse',
  data () {
    return {
      columns,
      data
    }
  }
}
</script>

<style scoped>

</style>
