<template>
  <div>

    <div class="listCourse">
      <div style="flex-direction:row ; display: flex ; margin-bottom: 15px ">
        <div class="text-black dark:text-white text-base sm:text-xl lg:text-base xl:text-xl font-semibold truncate">
          Danh sách sinh viên lớp INT 3011

        </div>

      </div>
      <a-divider/>
      <div style="width: 50%; margin-bottom: 10px;float: right">
        <a-input-search
          placeholder="Tìm kiếm sinh viên"
          @search="onSearch"
        />
      </div>
    </div>
    <a-table :columns="columns" :data-source="data" bordered>
      <template slot="feature" slot-scope="id,record">
        <a-button type="primary" @click="removeStudent(record)" icon="edit" >Chấm điểm</a-button>
      </template>
      <template slot="team" slot-scope="team">
        <h3 v-if="team===''"> Chưa tham gia nhóm</h3>
        <h3 v-else> {{team}}</h3>
      </template>
    </a-table>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

const columns = [

  {
    title: 'Mã sinh viên',
    dataIndex: 'student_code',
    key: 'student_code'
  },
  {
    title: 'Họ và tên',
    className: 'Group',
    dataIndex: 'name',
    key: 'name'
  },
  {
    title: 'Khóa',
    className: 'Group',
    dataIndex: 'school_year',
    key: 'school_year'

  },
  {
    title: 'Nhóm',
    dataIndex: 'team_name',
    key: 'team_name',
    scopedSlots: { customRender: 'team' }
  },
  {
    title: 'Điểm số',
    dataIndex: 'total',
    key: 'total'
  },

  {
    title: 'Chức năng',
    // dataIndex: 'feature',
    key: 'feature',
    scopedSlots: { customRender: 'feature' }
  }

]

export default {
  name: 'ListStudent',
  data () {
    return {
      data: [],
      columns,
      selectedItems: [],
      options: []
    }
  },
  computed: {

    filteredOptions () {
      return this.options.filter(o => !this.selectedItems.includes(o))
    }
  },
  async mounted () {
    const { data } = await this.getListStudent(this.$route.params.course_code)
    this.data = data
  },
  methods: {
    ...mapActions({ getListStudent: 'ooad/getListStudent' }),
    ...mapActions({ updateStudentInCourseByID: 'ooad/updateStudentInCourseByID' }),
    ...mapActions({ getClassByID: 'ooad/getClassByID' }),
    handleChange (selectedItems) {
      this.selectedItems = selectedItems
    },
    async submit () {
      console.log(this.$route.params.id)
      const { data } = await this.updateStudentInCourseByID({ id: this.$route.params.id, payload: this.selectedItems })
      console.log(data)
      this.data = data.studentList
    },
    removeStudent (record) {

    },
    onSearch () {
    }
  }
}
</script>

<style scoped>
th.column-money,
td.column-money {
  text-align: right !important;
}
</style>
