<template>
 <div>
    <FormTopic v-bind:title="title" v-bind:visible="visible" v-bind:topic="formData"
               @close="handleClose"></FormTopic>
  </div>
</template>

<script>
import FormTopic from '../course/FormTopic'
import { mapActions } from 'vuex'

export default {
  name: 'ListTopic',
  components: {
    FormTopic
  },
  data () {
    return {
      data: [],
      columns: [],
      visible: false,
      formData: {},
      title: 'Tạo đề tài mới'
    }
  },
  async mounted () {
    const { data } = await this.getTopicInClass(this.$route.params.id)
    this.data = data
    if (this.$store.state.isStudent === true) {
      this.columns = [{
        title: 'Name',
        dataIndex: 'name',
        key: 'name',
        scopedSlots: { customRender: 'name' }
      },
      {
        title: 'Mô tả',
        dataIndex: 'description',
        key: 'description',
        scopedSlots: { customRender: 'name' }
      }]
      console.log('this.$store.state.isStudent')
    }
    console.log(this.$store.state.isStudent)
  },
  methods: {
    ...mapActions({ getTopicInClass: 'ooad/getTopicInClass' }),
    showModal () {
      this.title = 'Tạo đề tài mới'
      this.visible = true
      console.log(this.visible)
      this.formData = {}
    },
    handleClose () {
      this.visible = false
      console.log(this.visible)
      this.formData = {}
    },
    showModalEdit (record) {
      this.title = 'Sửa đề tài'
      this.visible = true
      this.formData = Object.assign(this.formData, record)
    }
  }

}
</script>

<style scoped>

</style>
