<template>
  <div>
  <a-select :size="size" default-value="a1" style="width: 200px" @change="handleChange">
    <a-select-option v-for="i in 25" :key="(i + 9).toString(36) + i">
      {{ "nhóm " +(i + 9).toString(36) + i }}
    </a-select-option>
  </a-select>
  </div>
</template>

<script>
export default {
  name: 'AddProjectInTeam'
}
</script>

<style scoped>

</style>
