<template>
<div>
  <div>
    <a-form :form="form" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
      <a-form-item label="Tên nhóm">
        <a-input
          v-decorator="['name', {initialValue: this.record.name},{ rules: [{ required: true, message: 'Please input your note!' }] }]"
        />
      </a-form-item>
    </a-form>
  </div>
</div>
</template>

<script>
export default {
  name: 'FormGroup',
  props: {
    visible: {
      type: Boolean,
      default: true
    },
    title: {
      type: String,
      default: 'Tạo đề tài mới'
    },
    record: {
      type: Object
    }
  }
}
</script>

<style scoped>

</style>
