<template>
  <div>
    <a-table :columns="columns" :data-source="data" bordered>
      <template slot="action" slot-scope="status,record">
        <a-popconfirm
          title="Bạn muốn tham gia nhóm này?"
          ok-text="Yes"
          cancel-text="No"
          @confirm="confirm"
          @cancel="cancel"
        >
          <a-button type="primary"
                    icon="unordered-list">Yêu cầu tham gia</a-button>
        </a-popconfirm>
        <a-button v-if=" $store.state.isStudent===false" type="primary" @click="showModalEdit(record)" icon="edit"
                  style="margin: 3px;"/>
        <a-button v-if="$store.state.isStudent===true" type="primary" @click=" joinGroup (record)" icon="plus"
                  style="margin: 3px;"/>
        <a-button @click="$router.push({name: 'ProjectDetailContainer', params: { project_id: record.id },})"
                  icon="unordered-list"></a-button>

      </template>
      <template slot="project" slot-scope="project_name">
        <div v-if="project_name!==''"> {{project_name}}</div>
        <div v-else>

          <a-popover title="Chọn đề tài">
            <template slot="content">
              <AddProjectInTeam></AddProjectInTeam>
            </template>
            <a-button type="primary">
              Chọn đề tài
            </a-button>
          </a-popover>
        </div>
      </template>
      <template slot="team" slot-scope="text">
        <a v-if="text!==''">{{ text }}</a>
        <div v-else>
          <a-button>Thêm nhóm</a-button>
        </div>
      </template>
    </a-table>
  </div>
</template>

<script>
import AddProjectInTeam from './AddProjectInTeam'
const data = [
  { id: 1, team_name: 'nhóm1', student_name: 'Nguyễn Trường Giang', index: 1, total: 3, project_name: 'Hệ thông xe tải' },
  { id: 2, team_name: 'nhóm1', student_name: 'Nguyễn Trường Thần', index: 2, total: 3, project_name: 'Hệ thông xe tải' },
  { id: 3, team_name: 'nhóm1', student_name: 'phong thiên đế', index: 3, total: 3, project_name: 'Hệ thông xe tải' },
  { id: 4, team_name: 'nhóm2', student_name: 'phong thiên đế thần 1', index: 1, total: 1, project_name: '' },
  { id: 5, team_name: 'nhóm3', student_name: 'phong thiên đế thần 2', index: 1, total: 1, project_name: '' },
  { id: 6, team_name: '', student_name: 'phong thiên đế thần 3', index: 1, total: 1, project_name: '' }
]
const columns = [
  {
    title: 'Thành viên',
    className: 'students',
    key: 'student_name',
    dataIndex: 'student_name'
  },
  {
    title: 'Nhóm',
    dataIndex: 'team_name',
    key: 'name',
    customRender: (value, row, index) => {
      const obj = {
        children: value,
        attrs: {}
      }
      if (row.index === 1) {
        obj.attrs.rowSpan = row.total
      } else {
        obj.attrs.rowSpan = 0
      }

      return obj
    },
    scopedSlots: { customRender: 'team' }
  },
  {
    title: 'Dự án',
    dataIndex: 'project_name',
    key: 'project_name',
    scopedSlots: { customRender: 'project' }
  },

  {
    title: 'Chi tiết',
    className: 'Group',
    dataIndex: 'status',
    scopedSlots: { customRender: 'action' }
  }

]
export default {
  name: 'ListGroup',
  components: {
    AddProjectInTeam
  },
  data () {
    return {
      columns,
      data
    }
  },
  method: {
    confirm (e) {

    },
    cancel (e) {

    }
  }
}
</script>

<style scoped>

</style>
