<template>
  <div>
    <a-table :columns="columns" :data-source="data" bordered>
      <template slot="action" slot-scope="mark,record">
        <a-button v-if="record.isEdit!==true" type="primary" @click="editScore(record)" icon="edit"
                  style="margin: 3px;"/>
        <a-button v-if="record.isEdit==true" @click="saveScore (record)" type="primary" icon="save"
                  style="margin: 3px;"/>
        <a-button type="danger" icon="edit" style="margin: 3px;"/>

      </template>
      <template slot="mark" slot-scope="mark,record">
        <div>
          <a-input-number :min="0" :max="10"
                          v-if="record.isEdit==true"
                          style="margin: -5px 0"
                          v-model="record.score"
          />
          <template v-else>
            {{ mark }}
          </template>
        </div>
      </template>
    </a-table>
  </div>
</template>

<script>
import lodash from 'lodash'
import { mapActions } from 'vuex'

const columns = [

  {
    title: 'Tiêu chí',
    dataIndex: 'name',
    key: 'name'
  },
  {
    title: 'Điểm',
    dataIndex: 'score',
    key: 'score',
    scopedSlots: { customRender: 'mark' }
  },
  {
    title: 'Hệ sô',
    dataIndex: 'factor',
    key: 'factor'
  },
  {
    title: 'Chức năng',
    className: 'Group',
    dataIndex: 'id',
    scopedSlots: { customRender: 'action' }
  }
]

export default {
  name: 'ListMark',
  async mounted () {
    lodash.mixin({
      mergeByKey: function (arr1, arr2, key) {
        var criteria = {}
        criteria[key] = null
        return lodash.map(arr1, function (item) {
          criteria[key] = item[key]
          return lodash.merge(item, lodash.find(arr2, criteria))
        })
      }
    })
    const { data } = await this.getGroupByID(this.$route.params.group_id)
    const scores = data.scores?.map(item => {
      return {
        id: item.criteria.id,
        score: item.score
      }
    })

    const res = await this.getListCriteria({ class_id: data.class_id })
    console.log(scores, res.data)
    this.data = lodash(res.data) // start sequence
      .keyBy('id') // create a dictionary of the 1st array
      .merge(lodash.keyBy(scores, 'id')) // create a dictionary of the 2nd array, and merge it to the 1st
      .values() // turn the combined dictionary to array
      .value()
  },
  data () {
    return {
      columns,
      data: []
    }
  },
  methods: {
    ...mapActions({ getGroupByID: 'ooad/getGroupByID' }),
    ...mapActions({ getListCriteria: 'ooad/getListCriteria' }),
    ...mapActions({ addScoreInGroupByID: 'ooad/addScoreInGroupByID' }),
    editScore (record) {
      const newData = [...this.data]
      const target = newData.filter(item => record.id === item.id)[0]
      if (target) {
        target.isEdit = true
        this.data = newData
      }
    },
    async saveScore (record) {
      const payload = {
        criteria_id: record.id,
        score: record.score
      }
      const { data } = await this.addScoreInGroupByID({ id: this.$route.params.group_id, payload })
      console.log(data)
      const newData = [...this.data]
      const target = newData.filter(item => record.id === item.id)[0]
      if (target) {
        target.isEdit = false
        this.data = newData
      }
    }
  }
}
</script>

<style scoped>

</style>
