<template>
  <div>
    <div>
      <h3>Điểm của nhóm</h3>
    </div>
    <a-form :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">

      <a-form-item v-for=" item in criteria" :key="item.name" :label="item.name">
       <div  style="display: flex;flex-direction: row; width: 100% ">
         <a-input-number style="margin-left: 10px"
           :value="item.value"
         />
         <h3 style="margin-left: 10px">hệ số</h3>
         <a-input-number style="margin-left: 10px"
           :value="item.factor"
         />
       </div>

      </a-form-item>

    </a-form>
  </div>
</template>

<script>
const criterias = [
  { name: 'Phân chia công việc hợp lý', value: 10, factor: 0.25 },
  { name: 'Trình bày', value: 7, factor: 0.25 },
  { name: 'Báo cáo', value: 5, factor: 0.25 }
]
export default {
  name: 'MarkForm',
  data () {
    return {
      criteria: criterias,
      formLayout: 'horizontal',
      form: this.$form.createForm(this, { name: 'coordinated' })
    }
  },
  methods: {

  }
}
</script>

<style scoped>

</style>
