<template>

  <div style="display: inline">
    <span>
      Chào mừng Giang
    </span>
    <a-badge count="10" style="margin-right: 12px;height: 35px">
    <a-dropdown>

        <a-avatar style="float: right; " @click="e => e.preventDefault()">

            <a-icon type="bell" :style="{fontSize:20}"/>

        </a-avatar>

      <a class="ant-dropdown-link" @click="e => e.preventDefault()">
        Hover me
        <a-icon type="down"/>
      </a>
      <a-menu slot="overlay">
        <a-menu-item v-for="notification in notifications" :key="notification.id">
          {{notification.from}} yêu cầu tham gia nhóm
        </a-menu-item>

      </a-menu>
    </a-dropdown  >
    </a-badge>
    <div style=" float: right;">
      <a-dropdown>
        <a-avatar style="float: right; " @click="e => e.preventDefault()">USER</a-avatar>
        <a class="ant-dropdown-link" @click="e => e.preventDefault()">
          Hover me
          <a-icon type="down"/>
        </a>
        <a-menu slot="overlay">
          <a-menu-item @click="logout">
            Đăng xuất
          </a-menu-item>
          <a-menu-item>
            Chỉnh sửa thông tin
          </a-menu-item>
          <a-menu-item>
            Đổi mật khẩu
          </a-menu-item>
        </a-menu>
      </a-dropdown>
    </div>

  </div>
</template>

<script>
// import { socket } from '../repositorys/socketIo'
import { mapActions } from 'vuex'

export default {
  name: 'Header',
  data () {
    return {
      notifications: [],
      total: 0
    }
  },
  async  mounted () {
    const { total, data } = await this.getNotification()
    this.total = total
    this.notifications = data
  },
  methods: {
    ...mapActions({ getNotification: 'ooad/getNotification' }),
    logout () {
      localStorage.removeItem('token')
      localStorage.removeItem('user')
      console.log('logout')
      this.$router.history.push({ path: '/login' })
    }
  }
}
</script>

<style scoped>

</style>
