<template>
  <div style=" position:relative;display: inline-block;">
    <div class="logo" style="margin-top: 24px">
      <img src="../assets/logo.png" style="max-width:600px;width:100%"/>
    </div>
    <div style="margin-top: 150px">
      <a-menu theme="dark" :defaultSelectedKeys="['1']" mode="inline">
        <a-menu-item v-for="(item, index) in items" :key="index">
          <a-icon :type="item.icon"/>
          <span>{{ item.content }}</span>
          <router-link
            :to="item.link"

          />
        </a-menu-item>

      </a-menu>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

const items = [
  {
    icon: 'pie-chart',
    content: 'Quản lý tài khoản',
    link: '/account/users'
  },
  {
    icon: 'pie-chart',
    content: 'Phân quyền',
    link: '/account/roles'
  },
  {
    icon: 'pie-chart',
    content: 'Quản lý API',
    link: '/account/apis'
  },
  {
    icon: 'pie-chart',
    content: 'Quản lý khóa học',
    link: '/courses/course'
  },
  {
    icon: 'pie-chart',
    content: 'Quản lý kì học',
    link: '/courses/semester'
  },
  {
    icon: 'pie-chart',
    content: 'Trắc nghiêm',
    link: '/quiz/quizzes'
  },
  {
    icon: 'pie-chart',
    content: 'Công cụ vẽ uml',
    link: '/editor/uml'
  },
  {
    icon: 'pie-chart',
    content: 'Khóa học của tôi',
    link: '/courses/class'
  }

]
export default {
  name: 'Slider',
  mounted () {
    this.isStudent()
    const user = JSON.parse(localStorage.getItem('user'))
    if (user.role.code === 'teacher') {
      this.items = [...[
        {
          icon: 'pie-chart',
          content: 'Quản lý khóa học',
          link: '/courses/course'
        }
      ]]
    }
    if (user.role.code === 'student') {
      this.items = [...[{
        icon: 'pie-chart',
        content: 'Khóa học của tôi',
        link: '/courses/course'
      }]]
    }
  },
  data () {
    return {
      collapsed: false,
      rootSubmenuKeys: ['sub1', 'sub2', 'sub4'],
      openKeys: ['sub1'],
      items: items
    }
  },
  methods: {
    ...mapActions({ isStudent: 'isStudent' }),
    titleClick (e) {
      window.console.log('titleClick', e)
    }
  }
}
</script>

<style scoped>
.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
</style>
