<template>
  <div>
    <a-form :form="form" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }" @submit="handleOk">
      <a-form-item label="Tên vòng lặp">
        <a-input
          v-decorator="['name',{ rules: [{ required: true, message: 'Please input your note!' }] }]"
        />
      </a-form-item>
      <a-form-item label="Mô tả">
        <a-input
          v-decorator="['objective',{ rules: [{ required: true, message: 'Please input your note!' }] }]"
        />
      </a-form-item>
      <a-form-item label="Thời gian bắt đầu" has-feedback validate-status="success">
        <a-date-picker v-decorator="['start_time', ]" style="width: 100%"
                       format='DD/MM/YYYY'/>
      </a-form-item>
      <a-form-item label="Thời gian kết thúc" has-feedback validate-status="success">
        <a-date-picker v-decorator="['end_time', ]" style="width: 100%"
                       format='DD/MM/YYYY'/>
      </a-form-item>
      <a-form-item label="Chọn slice" has-feedback validate-status="success">
      <a-select mode="multiple" :size="size" default-value="a1" style="width: 200px" @change="handleChange">
        <a-select-option v-for="i in 25" :key="(i + 9).toString(36) + i">
          {{ (i + 9).toString(36) + i }}
        </a-select-option>
      </a-select>
      </a-form-item>
    </a-form>
  </div>
</template>

<script>

export default {
  name: 'FormIteration',
  data () {
    return {
      form: this.$form.createForm(this, { name: 'coordinated' }),
      topics: []
    }
  },
  props: {
    visible: {
      type: Boolean,
      default: true
    },
    title: {
      type: String,
      default: 'Tạo đề tài mới'
    },
    record: {
      type: Object
    }
  },
  methods: {

  }
}
</script>

<style scoped>

</style>
