<template>
<div>
  <a-table :columns="columns" :data-source="data" bordered>
    <a slot="name" slot-scope="text">{{ text }}</a>
    <template slot="status" slot-scope="text">
      <!--        slot-scope="status,record"-->
      <h3> {{ text }}</h3>

    </template>
    <template slot="feature" slot-scope="status,record">
      <a-button type="primary" @click="showModalEdit (record)" icon="edit" style="margin: 3px;"/>
    </template>
  </a-table>
</div>
</template>

<script>
const data = [
  {
    id: 1,
    name: 'Vòng lặp 1',
    create_by: 'Nguyễn Trường Giang',
    start_time: Date.now(),
    end_time: Date.now(),
    status: true,
    state: 'Hoàn thành'
  },
  {
    id: 2,
    name: 'Vòng lặp 2',
    create_by: 'Nguyễn Trường Giang',
    start_time: Date.now(),
    end_time: Date.now(),
    status: true,
    state: 'Quá hạn'
  },
  {
    id: 3,
    name: 'Vòng lặp 3',
    create_by: 'Nguyễn Trường Giang',
    start_time: Date.now(),
    end_time: Date.now(),
    status: true,
    state: 'Bắt đầu'
  },
  {
    id: 4,
    name: 'Vòng lặp 4',
    create_by: 'Nguyễn Trường Giang',
    start_time: Date.now(),
    end_time: Date.now(),
    status: true,
    state: 'Chuẩn bị'
  }
]
const columns = [

  {
    title: 'Tên vòng lặp',
    dataIndex: 'name',
    key: 'name',
    scopedSlots: { customRender: 'name' }
  },

  {
    title: 'Tạo bởi',
    dataIndex: 'create_by',
    key: 'create_by',
    scopedSlots: { customRender: 'name' }
  },
  {
    title: 'Thời gian bắt đầu',
    dataIndex: 'start_time',
    key: 'owned_by_team',
    scopedSlots: { customRender: 'name' }
  },
  {
    title: 'Thời gian kết thúc',
    dataIndex: 'end_time',
    key: 'owned_by_team',
    scopedSlots: { customRender: 'name' }
  },
  {
    title: 'Use case slice',
    dataIndex: 'use_case_slice',
    key: 'use_case_slice',
    scopedSlots: { customRender: 'status' }
  },
  {
    title: 'Trạng thái',
    dataIndex: 'state',
    key: 'state',
    scopedSlots: { customRender: 'status' }
  },
  {
    title: 'Chức năng',
    // dataIndex: 'feature',
    key: 'feature',
    scopedSlots: { customRender: 'feature' }
  }

]
export default {
  name: 'ListIteration',
  data () {
    return {
      data,
      columns
    }
  }
}
</script>

<style scoped>

</style>
