<template>
  <div>
    <a-upload
      list-type="picture"
      :customRequest="previewFile"
    >
      <a-button>
        <a-icon type="upload"/>
        Upload
      </a-button>
    </a-upload>
  </div>
</template>

<script>
export default {
  name: 'ImportQuizz'
}
</script>

<style scoped>

</style>
