<template>
  <a-layout id="components-layout-demo-side" style="min-height: 100vh">

    <a-layout>
      <a-layout-header class="header">
        <div class="logo"/>
        <a-menu
          theme="dark"
          mode="horizontal"
          :default-selected-keys="['2']"
          :style="{ lineHeight: '64px' }"
        >
          <a-menu-item key="1">
            Editor
          </a-menu-item>
          <a-menu-item key="2">

          </a-menu-item>
          <a-menu-item key="3">
            Cheat sheet
          </a-menu-item>
          <a-sub-menu key="sub1">
            <span slot="title"><a-icon type="user"/><span>Template</span></span>
            <a-menu-item key="3">
              UseCase
            </a-menu-item>
            <a-menu-item key="4">
              Activity
            </a-menu-item>
            <a-menu-item key="5">
              Sequence
            </a-menu-item>
          </a-sub-menu>
        </a-menu>

      </a-layout-header>
      <a-layout-content :style="{ margin: '24px 16px 0', overflow: 'initial' }">
        <div :style="{ padding: '24px', background: '#fff',  }">
          <a-row>
            <a-col :span="12">
<!--              <div styles="border: 1px solid rgb(232, 232, 232); padding: 10px; text-transform: uppercase ">Markdown</div>-->
              <MarkdownEditor></MarkdownEditor>

            </a-col>
            <a-col :span="12">
<!--              <div styles="border: 1px solid rgb(232, 232, 232); padding: 10px; text-transform: uppercase ">preview</div>-->
              <MarkdownPreviewer></MarkdownPreviewer>
            </a-col>

          </a-row>

        </div>
      </a-layout-content>
      <a-layout-footer style="text-align: center">
        <Footer></Footer>
      </a-layout-footer>
    </a-layout>
  </a-layout>
</template>

<script>
import MarkdownEditor from '../components/MD/MarkdownEditor'
import MarkdownPreviewer from '../components/MD/MarkdownPreviewer'

export default {

  name: 'MDEditor',
  components: {
    MarkdownEditor,
    MarkdownPreviewer

  },
  data () {
    return {
      height: '0px',
      umlH: '0px'
    }
  }
}
</script>

<style scoped>
#components-layout-demo-top-side .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
}
</style>
