<template>

  <a-layout id="components-layout-demo-side" style="min-height: 100vh">

    <a-layout>
      <a-layout-header class="header">
        <div class="logo"/>
        <a-menu
          theme="dark"
          mode="horizontal"
          :default-selected-keys="['2']"
          :style="{ lineHeight: '64px' }"
        >
          <a-menu-item key="1">
            Editor
          </a-menu-item>
          <a-menu-item key="2">

          </a-menu-item>
          <a-menu-item key="3">
            Cheat sheet
          </a-menu-item>
          <a-sub-menu key="sub1">
            <span slot="title"><a-icon type="user"/><span>Template</span></span>
            <a-menu-item key="3">
              UseCase
            </a-menu-item>
            <a-menu-item key="4">
              Activity
            </a-menu-item>
            <a-menu-item key="5">
              Sequence
            </a-menu-item>
          </a-sub-menu>
        </a-menu>

      </a-layout-header>
      <a-layout-content :style="{ margin: '24px 16px 0', overflow: 'initial' }">
        <div :style="{ padding: '24px', background: '#fff',  }">
          <a-row>
            <a-col :span="10">
              <Editor></Editor>

            </a-col>
            <a-col>
              <UMLPreviewer></UMLPreviewer>
            </a-col>

          </a-row>

        </div>
      </a-layout-content>
      <a-layout-footer style="text-align: center">
        <Footer></Footer>
      </a-layout-footer>
    </a-layout>
  </a-layout>

</template>

<script>
// import store from '../store'
// import directive from '../directive'

// components
// import UseCaseCheatSheet from '../components/CheatSheet/UseCaseCheatSheet'
import Editor from '../components/Editor'
import UMLPreviewer from '../components/UMLPreviewer'

export default {
  name: 'PlaintUml',
  // store,
  // directive,
  components: {
    UMLPreviewer,
    Editor

  },
  data () {
    return {
      height: '0px',
      umlH: '0px'
    }
  },
  computed: {
    // historyCol () {
    //   // return this.$store.state.layout.colSize.history
    // },
    // editorCol () {
    //   // return this.$store.state.layout.colSize.editor
    // },
    // cheatSheetCol () {
    //   // return this.$store.state.layout.colSize.cheatSheet
    // },
    // umlCol () {
    //   // return this.$store.state.layout.colSize.uml
    // }
  },
  created () {
    // this.resize()
    // this.$store.dispatch('plantumlEditor/getLocalStrage')
    // this.$store.dispatch('plantumlEditor/renderUML', this.$store.state.plantumlEditor.text)
    // this.$store.dispatch('histories/defineScheme')
  },
  mounted () {
    // this.setHeight()
    // window.$('[data-toggle="tooltip"]').tooltip()
  },
  methods: {
    //   setHeight () {
    //     const headerHeight: number = window.$('.navbar-static-top').height()
    //     const functionTopHeight: number = window.$('.functionTop').height()
    //     const height: number = window.innerHeight - headerHeight
    //     const marginTop: number = 20
    //     const marginBottom: number = 10
    //     this.height = height + 'px'
    //     this.umlH = height - (marginTop + functionTopHeight + marginBottom) + 'px'
    //   },
    //   resize () {
    //     let timer: any = null
    //     window.addEventListener('resize', () => {
    //       if (timer) {
    //         clearTimeout(timer)
    //       }
    //       timer = setTimeout(() => {
    //         this.setHeight()
    //       }, this.$store.state.plantumlEditor.FPS)
    //     })
    //   }
  }
}
</script>

<style scoped>
/* font-awesome */
/*@import '../node_modules/font-awesome/css/font-awesome.min.css';*/
/*!* Bootstrap *!*/
/*@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';*/

#components-layout-demo-top-side .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
}
</style>
