<template>
  <a-modal :visible="visible" :title="title" @ok="handleOk" @cancel="handleClose">
    <a-form :form="form" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
      <a-form-item label="Tiêu chí">
        <a-input
          v-decorator="['name', {initialValue: this.criteria.name},{ rules: [{ required: true, message: 'Please input your note!' }] }]"
        />
      </a-form-item>

        <ckeditor  v-decorator="['name', {initialValue: this.criteria.name} ,]" :editor="editor" ></ckeditor>

      <a-form-item label="Hệ số">
        <a-input-number :min="0" :max="10" :step="0.05"
          v-decorator="['factor', {initialValue: this.criteria.factor},{ rules: [{ required: true, message: 'Please input your note!' }] }]"
        />
      </a-form-item>

    </a-form>
  </a-modal>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'FormCriteria',
  data () {
    return {
      form: this.$form.createForm(this, { name: 'coordinated' })

    }
  },
  props: {
    visible: {
      type: Boolean,
      default: true
    },
    title: {
      type: String,
      default: 'Tạo tiêu chí'
    },
    criteria: {
      type: Object
    }
  },
  methods: {
    ...mapActions({ createCriteria: 'ooad/createCriteria' }),
    ...mapActions({ updateCriteria: 'ooad/updateCriteria' }),
    handleOk (e) {
      e.preventDefault()
      this.form.validateFields(async (err, values) => {
        if (!err) {
          const payload = {
            name: values.name,
            factor: values.factor,
            class_id: this.$route.params.id
          }
          if (this.title === 'Tạo tiêu chí') {
            console.log('Received values of form: ', payload)
            const res = await this.createCriteria(payload)
            console.log('Received values of form: ', res)
            if (res.success === true) {
              this.$notification.open({
                message: 'Success',
                description: 'Tạo tiêu chí thành công',
                icon: <a-icon type="smile" style="color: #00A651"/>
              })
              this.form.resetFields()
              this.$emit('close', false)
            }
          } else {
            const res = await this.updateCriteria({ id: this.criteria.id, payload })
            if (res.success === true) {
              this.$notification.open({
                message: 'Success',
                description: 'Sửa tiêu chí thành công',
                icon: <a-icon type="smile" style="color: #00A651"/>
              })
              this.form.resetFields()
              this.$emit('close', false)
            }
          }
        }
      })
    },
    handleClose () {
      this.$emit('close', false)
    }

  }
}
</script>

<style scoped>

</style>
