<template>
  <div>
    <div style="flex-direction:row ; display: flex ; margin-bottom: 15px ">
      <div style="width: 20%">
        <a-button @click="createModal">Thêm tiêu chí</a-button>
      </div>
    </div>
    <a-table :columns="columns" :data-source="data" bordered>
      <template slot="action" slot-scope="status,record">
        <a-button type="primary" @click="editModal(record)" icon="edit" style="margin: 3px;"/>
        <a-button type="danger" icon="edit" style="margin: 3px;"/>
      </template>
    </a-table>
    <FormCriteria v-bind:title="title" v-bind:visible="visible" v-bind:criteria="formData"
                  @close="handleClose"></FormCriteria>
  </div>
</template>

<script>
import FormCriteria from './FormCriteria'
import { mapActions } from 'vuex'

const columns = [

  {
    title: 'Tiêu chí',
    dataIndex: 'name',
    key: 'name'
  },

  {
    title: 'Hệ sô',
    dataIndex: 'factor',
    key: 'factor'
  },
  {
    title: 'Chức năng',
    className: 'Group',
    dataIndex: 'id',
    scopedSlots: { customRender: 'action' }
  }
]
const data = [
  {
    id: '1',
    name: 'Điểm bài tập 1',
    factor: 0.25
  },
  {
    id: '1',
    name: 'Điểm bài tập 2',
    factor: 0.25
  }
]
export default {
  name: 'ListCriteria',
  data () {
    return {
      data: data,
      columns,
      visible: false,
      title: '',
      formData: {}
    }
  },
  components: {
    FormCriteria
  },
  async mounted () {
    const { data } = await this.getListCriteria({ class_id: this.$route.params.id })
    this.data = data
  },
  methods: {
    ...mapActions({ getListCriteria: 'ooad/getListCriteria' }),
    handleClose () {
      this.visible = false
      console.log(this.visible)
      this.formData = {}
    },
    createModal () {
      this.title = 'Tạo tiêu chí'
      this.visible = true
      this.formData = { name: '', factor: 0 }
    },
    editModal (record) {
      this.title = 'Sửa tiêu chí'
      this.visible = true
      this.formData = record
    }
  }
}
</script>

<style scoped>

</style>
