<template>

  <div>
    <a-upload
      list-type="picture"
      :customRequest="previewFilePDF"

    >
      <a-button>
        <a-icon type="upload"/>
        Upload pdf
      </a-button>
    </a-upload>
    <a-upload
      list-type="picture"
      :customRequest="previewFile"
    >
      <a-button>
        <a-icon type="upload"/>
        Import excel
      </a-button>
    </a-upload>

    <a-input v-model="audio" placeholder="audio url"/>
    <a-select v-model="type" style="width: 120px" @change="handleChange">
      <a-select-option value="listen">
        Listen
      </a-select-option>
      <a-select-option value="read">
        Read
      </a-select-option>
    </a-select>
    <a-button @click="submit">
      <a-icon type="upload"/>
      Upload
    </a-button>
    <div v-for="(item,index) in questions" :key="index">
      <strong style="float: left">Question {{ index }}:</strong><br/>
      <h3 style="float: left">{{ item.content }}</h3><br/><br/>
      <div>
        <a-radio-group v-model="item.choice"
                       style="display: flex;flex-direction: column;text-align: left"
                       v-for="(answer,i) in item.answers" :key="i" name="radioGroup" :default-value="1">
          <a-radio v-if="item.answer.choice!==answer.choice&&item.choice==answer.choice&&isSubmit" name="radioGroup"
                   :value="answer.choice" @change="onChange" :disabled="isSubmit">

            <span style="color:red">   ({{ answer.choice }}) {{ answer.content }} SAI </span>
          </a-radio>
          <a-radio v-else-if="item.answer.choice===answer.choice&&isSubmit" name="radioGroup" :value="answer.choice"
                   :disabled="isSubmit">
            <span style="color:green ">   ({{ answer.choice }}) {{ answer.content }} ĐÚNG</span>
          </a-radio>
          <a-radio v-else name="radioGroup" :value="answer.choice" :disabled="isSubmit">
            <span>   ({{ answer.choice }}) {{ answer.content }} </span>
          </a-radio>

          <br/>
        </a-radio-group>
        <div v-if="isSubmit">
        <span style="color:green ;text-align: left">
        Giải thích :{{ item.explain }}
        </span> <br/>
          <span style="color:green ;text-align: left">
        Dịch nghĩa :{{ item.translate }}
        </span>
        </div>

      </div>

      <br/>

    </div>
  </div>
</template>

<script>
import XLSX from 'xlsx'
import { mapActions } from 'vuex'

export default {
  name: 'CreateQuiz',
  data () {
    return {
      questions: [],
      isSubmit: true,
      type: '',
      audio: '',
      pdfUrl: '',
      name: ''
    }
  },
  methods: {
    ...mapActions({ uploadFile: 'ooad/uploadFile' }),
    ...mapActions({ createQuiz: 'quiz/createQuiz' }),
    ...mapActions({ createQuestion: 'quiz/createQuestion' }),
    previewFile (file) {
      console.log('Your upload file:', file.file)
      var reader = new FileReader()
      this.name = file.file.name
      reader.readAsArrayBuffer(file.file)
      var result = {}
      reader.onload = (e) => {
        var data = new Uint8Array(reader.result)
        var workbook = XLSX.read(data, { type: 'array' })
        console.log(workbook.Sheets.Sheet)
        workbook.SheetNames.forEach((sheetName) => {
          var roa = XLSX.utils.sheet_to_json(workbook.Sheets[sheetName], { header: 1 })
          if (roa.length > 0) {
            result[sheetName] = roa
          }
          // convert array to json
          result[sheetName].forEach((item) => {
            const question = {
              content: '',
              answers: [],
              answer: {},
              explain: '',
              translate: ''

            }
            for (let i = 0; i < item.length; i++) {
              switch (i) {
                case i = 0:
                  question.content = item[i]
                  console.log(item[i])
                  break
                case i = 1:
                  question.answers.push({ choice: 'A', content: item[i] })
                  break
                case i = 2:
                  question.answers.push({ choice: 'B', content: item[i] })
                  break
                case i = 3:
                  question.answers.push({ choice: 'C', content: item[i] })
                  break
                case i = 4:
                  question.answers.push({ choice: 'D', content: item[i] })
                  console.log(item[i])
                  break
                case i = 5:
                  question.answer = { choice: item[i] }

                  break
                case i = 6:
                  question.explain = item[i]
                  break
                case i = 7:
                  question.translate = item[i]
              }
            }
            if (item.length > 0) {
              this.questions.push(question)
            }
          })
          this.questions.shift()
        })
      }
    },
    async submit () {
      const quiz = {
        name: this.name,
        code: Date.now().toString(),
        questions_id: [],
        pdf_url: this.pdfUrl,
        type: this.type,
        audio_url: this.audio
      }
      for (let i = 0; i < this.questions.length; i++) {
        console.log(this.questions[i])
        const { data } = await this.createQuestion(this.questions[i])
        quiz.questions_id.push(data.id)
      }
      await this.createQuiz(quiz)
    },
    async previewFilePDF (file) {
      console.log('Your upload file:', file)
      // Your process logic. Here we just mock to the same file
      const { success, data } = await this.uploadFile(file.file)
      console.log(success, data)
      this.pdfUrl = '/api/v1/file/static/' + data.id
      this.uploading = false
      return success
    },
    handleChange (e) {
      console.log(this.audio)
    }
  }
}
</script>

<style scoped>

</style>
