<template>
  <div>
    <h1 style="width: 100%">Welcome to the Quiz: {{ data.name }}</h1>
    <audio :src='data.audio_url' id="audio" controls="controls" type="audio/mpeg">

    </audio>
    <a-row>
      <a-col :span="18">
        <pdf
          v-for="i in numPages"
          :key="i"
          :src="src"
          :page="i"

        ></pdf>
      </a-col>
      <a-col :span="6">
        <div v-for="(item,index) in data.questions" :key="index">
          <strong style="float: left">Question {{ index+1 }}:</strong>

          <br/>

          <div style="position: sticky">
            <a-radio-group v-model="item.choice"
                           style="display: flex;flex-direction: column;text-align: left"
                           v-for="(answer,i) in item.answers" :key="i" name="radioGroup" :default-value="1">
              <div>
                <a-radio v-if="item.answer.choice!==answer.choice&&item.choice==answer.choice&&isSubmit" name="radioGroup"
                         :value="answer.choice" @change="onChange" :disabled="isSubmit">

                  <span style="color:red">   ({{ answer.choice }})

                    <h4 v-if="isSubmit">  {{ answer.content }} SAI</h4>
                   </span>
                </a-radio>
                <a-radio v-else-if="item.answer.choice===answer.choice&&isSubmit" name="radioGroup" :value="answer.choice"
                         @change="onChange" :disabled="isSubmit">
                  <span style="color:green ">   ({{ answer.choice }})
                   <h4 v-if="isSubmit">  {{ answer.content }} SAI</h4>
                  </span>
                </a-radio>
                <a-radio v-else name="radioGroup" :value="answer.choice" @change="onChange" :disabled="isSubmit">
                  <span>   ({{ answer.choice }})
                   <h4 v-if="isSubmit">  {{ answer.content }} SAI</h4>
                  </span>
                </a-radio>

                <br/>
              </div>
            </a-radio-group>

            <div v-if="isSubmit">
        <span style="color:green ;text-align: left">
        Giải thích :{{ item.explain }}
        </span> <br/>
              <span style="color:green ;text-align: left">
        Dịch nghĩa :{{ item.translate }}
        </span>
            </div>

          </div>

          <br/>

        </div>
        <a-button @click="handleSubmit">
          Nộp bài
        </a-button>
      </a-col>
    </a-row>

  </div>
</template>

<script>
import pdf from 'vue-pdf'
import { mapActions } from 'vuex'
export default {
  name: 'ListenQuiz',
  components: {
    pdf
  },
  data () {
    return {
      data: [],
      questions: [],
      isSubmit: false,
      total: 0,
      numPages: 0

    }
  },
  async mounted () {
    const { data } = await this.getQuiz(this.$route.params.id)
    this.data = data
    this.src = pdf.createLoadingTask(data.pdf_url)
    this.src.promise.then(pdf => {
      this.numPages = pdf.numPages
    })
  },

  methods: {
    ...mapActions({ getQuiz: 'quiz/getQuiz' }),
    onChange (e) {
      console.log('radio checked', e.target.value)
    },
    handleSubmit () {
      this.data.questions.forEach((item) => {
        console.log(item.choice, item.answer.choice)
        if (item.choice === item.answer.choice) {
          this.total++
        }
      })
      this.isSubmit = true
    },
    getTotal () {

    }

  }
}
</script>

<style scoped>

</style>
