<template>
  <div>
    <div style="flex-direction:row ; display: flex ; margin-bottom: 15px ">

      <div class="text-black dark:text-white text-base sm:text-xl lg:text-base xl:text-xl font-semibold truncate">Danh
        sách đề tài
      </div>
      <div style="width: 20%; margin-bottom:10px;float: right">
        <a-button v-if="$store.state.isStudent === false" style="float:right" type="primary" @click="showModal">
          <a-icon type="plus"></a-icon>
          Thêm Actor
        </a-button>

      </div>
    </div>
    <a-divider/>
    <ListActor></ListActor>
    <ModalActor v-bind:visible="visible" v-bind:title="title" @close="handleClose"></ModalActor>
  </div>
</template>

<script>
import ListActor from '../components/actor/ListActor'
import Modal from '../share/modal'
import FormActor from '../components/actor/FormActor'

export default {
  name: 'ActorContainer',
  components: {
    ListActor,
    ModalActor: Modal(FormActor)
  },
  data () {
    return {
      visible: false,
      title: 'Tạo Use Case Slice'
    }
  },
  methods: {
    onSearch (e) {
      console.log(e)
    },
    handleClose () {
      this.visible = false
    },
    showModal () {
      this.visible = true
    }
  }
}
</script>

<style scoped>

</style>
