<template>
  <div>
    <a-row>
      <a-col :span="18">
        <router-view  />
<!--        <a-collapse :activeKey="activeKey" accordion>-->
<!--          <a-collapse-panel key="1" header="Tuần 1" :show-arrow="false">-->
<!--            <p>213213</p>-->
<!--          </a-collapse-panel>-->
<!--          <a-collapse-panel key="2" header="Tuần 2" :disabled="false" :show-arrow="false">-->
<!--            <p>213213</p>-->
<!--          </a-collapse-panel>-->
<!--          <a-collapse-panel key="3" header="Tuần 3" :show-arrow="false">-->
<!--            <p>213213</p>-->
<!--          </a-collapse-panel>-->
<!--        </a-collapse>-->
      </a-col>
      <a-col :span="6">
        <a-list size="small" bordered :data-source="data">

          <a-list-item slot="renderItem" @click="switchRouter (item)" slot-scope="item">

            <h3>    {{ item.content }}</h3>
          </a-list-item>

          <template #header>
            <div>Điều hướng</div>
          </template>
        </a-list>
      </a-col>
    </a-row>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

const data = [
  { content: 'Bài giảng', route: 'ListLecture' },
  { content: 'Nhóm của tôi', route: 'MyGroup' },
  { content: 'Đề tài', route: 'ListTopic' },
  { content: 'Danh sách nhóm lớp', route: 'ListGroup' }
]
const lectures = [
  { title: '' }
]
export default {
  name: 'ClassDetail',
  data () {
    return {
      activeKey: [],
      data,
      lectures,
      customStyle:
        'background: white'

    }
  },
  methods: {
    ...mapActions({ getGroup: 'ooad/getGroupStudent' }),
    async switchRouter (item) {
      if (item.content === 'Nhóm của tôi') {
        const { data } = await this.getGroup()
        console.log(data)
        this.$router.push({ name: item.route, params: { group_id: data.id } })
      } else {
        this.$router.push({ name: item.route })
      }
    }
  }
}
</script>

<style scoped>

</style>
