<template>
<div>
  <a-tabs
    default-active-key="1"
    tab-position="left"
  >
    <a-tab-pane :key="1" tab="Cấu hình lớp học">
   <Configuration></Configuration>
    </a-tab-pane>
    <a-tab-pane :key="2" tab="Các bài tập">
      <ExerciseContainer></ExerciseContainer>
    </a-tab-pane>
  </a-tabs>
</div>
</template>

<script>
import Configuration from './Configuration'
import ExerciseContainer from './ExerciseContainer'
export default {
  name: 'ConfigurationCourseContainer',
  components: {
    ExerciseContainer,
    Configuration
  }
}
</script>

<style scoped>

</style>
