<template>
<div>
<Configuration></Configuration>
</div>
</template>

<script>
import Configuration from '../components/ configuration_course/Configration'
export default {
  name: 'Configuration',
  components: {
    Configuration
  }
}
</script>

<style scoped>

</style>
