<template>
<div>
<FormUseCase></FormUseCase>
</div>
</template>

<script>
import FormUseCase from '../components/use_case/FormUsecase'
export default {
  name: 'CreateUseCaseContainer',
  components: {
    FormUseCase
  }
}
</script>

<style scoped>

</style>
