<template>
  <div>

    <div style="flex-direction:row ; display: flex ; margin-bottom: 15px ">

      <div class="text-black dark:text-white text-base sm:text-xl lg:text-base xl:text-xl font-semibold truncate">Danh
        sách đề tài
      </div>
      <div style="width: 20%; margin-bottom:10px;float: right">
        <a-button v-if="$store.state.isStudent === false" style="float:right" type="primary" @click="showModal">
          <a-icon type="plus"></a-icon>
          Thêm tài liệu
        </a-button>

      </div>
    </div>
    <a-divider/>
    <ListDocument></ListDocument>
<ModalDocument v-bind:visible="visible" v-bind:title="title" @close="handleClose"></ModalDocument>
  </div>
</template>

<script>
import ListDocument from '../components/document/ListDocument'
import Modal from '../share/modal'
import FormDocument from '../components/document/FormDocument'
export default {
  name: 'DocumentContainer',
  components: {
    ListDocument,
    ModalDocument: Modal(FormDocument)
  },
  data () {
    return {
      visible: false,
      title: 'Tạo Use Case Slice'
    }
  },
  methods: {
    onSearch (e) {
      console.log(e)
    },
    handleClose () {
      this.visible = false
    },
    showModal () {
      this.visible = true
    }
  }
}
</script>

<style scoped>

</style>
