<template>
  <ListExercise></ListExercise>
</template>

<script>
import ListExercise from '../components/ configuration_course/ListExercise'

export default {
  name: 'ExerciseContainer',
  components: {
    ListExercise
  }
}
</script>

<style scoped>

</style>
