<template>
  <div>
    <a-tabs default-active-key="1" @change="callback">

      <a-tab-pane key="1" tab="Vòng lặp">
        <Document></Document>
      </a-tab-pane>
      <a-tab-pane key="2" tab="Nhóm" force-render>
                <ListMark></ListMark>
      </a-tab-pane>
    </a-tabs>
  </div>
</template>

<script>
import Document from '@/modules/online-learing/components/Document'
import ListMark from '@/modules/online-learing/components/group/ListMark'
export default {
  name: 'GroupDetail',
  components: {
    Document,
    ListMark
  },
  methods: {
    callback () {
      console.log('ĐN')
    }
  }
}
</script>

<style scoped>

</style>
