<template>
  <div :style="{ margin: '24px 16px 0', overflow: 'initial' }">

    <FormIteration></FormIteration>
    <ListDocument :iteration="iteration"></ListDocument>
  </div>
</template>

<script>
import FormIteration from '../components/iteration/FormIteration'
import ListDocument from '../components/ListDocument'

export default {
  name: 'IterationDetail',
  props: {
    iteration: Object
  },
  components: {
    FormIteration,
    ListDocument
  }
}
</script>

<style scoped>

</style>
