<template>
  <div>
    <ListFlowStep></ListFlowStep>

    <a-button type="primary" @click="showModal"> Thêm</a-button>
    <ModalFlowStep v-bind:visible="visible" v-bind:title="title" @close="handleClose"></ModalFlowStep>
  </div>
</template>

<script>
import ListFlowStep from '../components/flow_step/ListFlowStep'
import Modal from '../share/modal'
import FormFlowStep from '../components/flow_step/FormFlowStep'

export default {
  name: 'ListFlowStepContainer',
  components: {
    ListFlowStep,
    ModalFlowStep: Modal(FormFlowStep)
  },
  data () {
    return {
      visible: false,
      title: 'Tạo Use Case Slice'
    }
  },
  methods: {
    onSearch (e) {
      console.log(e)
    },
    handleClose () {
      this.visible = false
    },
    showModal () {
      console.log(21312)
      this.visible = true
    }
  }
}
</script>

<style scoped>

</style>
