<template>
  <div>
    <div class="listCourse">
      <div style="flex-direction:row ; display: flex ; margin-bottom: 15px ">
        <div class="text-black dark:text-white text-base sm:text-xl lg:text-base xl:text-xl font-semibold truncate">Danh
          sách khóa học
        </div>

      </div>
      <a-divider/>
      <div style="width: 50%; margin-bottom: 10px;float: right">
        <a-input-search
          placeholder="tìm kiếm lớp học"
          @search="onSearch"
        />
      </div>

    </div>
    <ListCourse></ListCourse>
  </div>
</template>

<script>
import ListCourse from '../components/course/ListCourse'

export default {
  name: 'ListCourseContainer',
  components: {
    ListCourse
  },
  methods: {
    onSearch (e) {
      console.log(e)
    }
  }
}
</script>

<style scoped>

</style>
