<template>
<div>
  <div style="display: flex ; justify-content: flex-end">
    <a-button   type="primary" @click="showModal">
      <a-icon type="plus"></a-icon>
      Tạo Task
    </a-button>

  </div>
<ListTask></ListTask>
  <ModelTask v-bind:visible="visible" v-bind:title="title" @close="handleClose"></ModelTask>
</div>
</template>

<script>
import ListTask from '../components/task/ListTask'
import Modal from '../share/modal'
import FormTask from '../components/task/FormTask'
export default {
  name: 'ListTaskContainer',
  components: {
    ListTask,
    ModelTask: Modal(FormTask)
  },
  data () {
    return {
      visible: false,
      title: 'Tạo Use Case Slice'
    }
  },
  methods: {
    handleClose () {
      this.visible = false
    },
    showModal () {
      this.visible = true
    }
  }
}
</script>

<style scoped>

</style>
