<template>
<div>
  <ListUseCaseSlice></ListUseCaseSlice>
  <a-button type="primary" @click="showModal"> Thêm</a-button>
  <ModalUseCaseSlice  v-bind:visible="visible" v-bind:title="title" @close="handleClose"></ModalUseCaseSlice>
</div>
</template>

<script>
import ListUseCaseSlice from '../components/use_case_slice/ListUseCaseSlice'
import Modal from '../share/modal'
import FormUseCaseSlice from '../components/use_case_slice/FormUseCaseSlice'
export default {
  name: 'ListUseCaseSliceContainer',
  components: {
    ListUseCaseSlice,
    ModalUseCaseSlice: Modal(FormUseCaseSlice)
  },
  data () {
    return {
      visible: false,
      title: 'Tạo Use Case Slice'
    }
  },
  methods: {
    onSearch (e) {
      console.log(e)
    },
    handleClose () {
      this.visible = false
    },
    showModal () {
      console.log(this.showModal.name)
      this.visible = true
    }
  }
}
</script>

<style scoped>

</style>
