<template>
  <div>

  </div>
</template>

<script>
import { mapActions } from 'vuex'

const columns = [
  {
    title: 'Kì học',
    dataIndex: 'semester',
    key: 'semester',
    scopedSlots: { customRender: 'semester' }
  },

  {
    title: 'Mã',
    dataIndex: 'code',
    key: 'code',
    scopedSlots: { customRender: 'name' }
  },

  {
    title: 'Tên khóa học',
    dataIndex: 'name',
    key: 'name',
    ellipsis: true,
    width: '25%'
  },
  {
    title: 'Ngày trong tuần',
    dataIndex: 'weekday',
    key: 'weekday'
  },
  {
    title: 'Ví trí',
    dataIndex: 'location',
    key: 'location'
  },
  {
    title: 'Tiết học bắt đầu ',
    dataIndex: 'start_lesson',
    key: 'start_lesson'
  },
  {
    title: 'Tiết học kết thúc',
    dataIndex: 'end_lesson',
    key: 'end_lesson',
    scopedSlots: { customRender: 'lesion' }
  },
  // {
  //   title: 'Giảng viên',
  //   dataIndex: 'teacher.full_name',
  //   key: 'teacher'
  // },
  {
    title: 'Trạng thái',
    dataIndex: 'status',
    key: 'status'
    // scopedSlots: { customRender: 'status' }
  },
  {
    title: 'Chức năng',
    dataIndex: 'feature',
    key: 'feature',
    scopedSlots: { customRender: 'feature' }
  }

]
export default {
  name: 'ListCourse',
  data () {
    return {
      columns,
      data: [],
      visible: false,
      formData: {},
      title: 'Create Semester'
    }
  },
  components: {},
  async mounted () {
    const { data } = await this.getLisCourse({})
    this.data = data
  },
  methods: {
    ...mapActions({ getLisCourse: 'ooad/getListCourse' }),
    ...mapActions({ updateStatusClass: 'ooad/updateStatusClass' }),
    handleClose () {
      this.visible = false
      console.log(this.visible)
      this.formData = {}
    },
    showModal () {
      this.title = 'Tạo lớp học mới'
      this.visible = true
      this.formData = {}
    },
    showModalEdit (record) {
      this.title = 'Sửa lớp học '
      this.visible = true
      this.formData = Object.assign(this.formData, record)
    },
    async handleUpdateStatus (record) {
      await this.updateStatusClass({ id: record.id, status: !record.status })
      console.log(record.id)
      record.status = !record.status
    },
    onSearch () {

    }

  }
}
</script>

<style scoped>

</style>
