<template>
  <a-list :grid="{ gutter: 16, column: 4 }" :data-source="data">
    <a-list-item slot="renderItem" slot-scope="item">
      <a-card v-if="$store.state.isStudent==true" :title="item.name" @click="$router.push({name: 'ClassByID', params: { id: item.id },})">
        <img
          slot="cover"
          alt="example"
          src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png"
        />
        <div>
          <h4>
            <a-icon type="user"/>
            {{ item.students }}
          </h4>
          <h4>
            <a-icon type="schedule"/>
            {{ item.weekday }} - {{ item.location }}
          </h4>

        </div>

      </a-card>
      <a-card v-else :title="item.name" @click="$router.push({name: 'Course Detail', params: { course_code: item.code },})">
        <img
          slot="cover"
          alt="example"
          src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png"
        />
        <div>
          <h4>
            <a-icon type="user"/>
            {{ item.students }}
          </h4>
          <h4>
            <a-icon type="schedule"/>
            {{ item.weekday }} - {{ item.location }}
          </h4>

        </div>

      </a-card>

    </a-list-item>
  </a-list>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: 'ListClassCard',
  data () {
    return {
      data: []
    }
  },
  async mounted () {
    const { data } = await this.getLisCourse({})
    this.data = data
  },
  methods: {
    ...mapActions({ getLisCourse: 'ooad/getListCourse' })
  }
}
</script>

<style scoped>

</style>
