<template>
  <div>
    <div style="flex-direction:row ; display: flex ; margin-bottom: 15px ">

      <div class="text-black dark:text-white text-base sm:text-xl lg:text-base xl:text-xl font-semibold truncate">Danh
        sách nhóm
      </div>
      <div style="width: 20%; margin-bottom:10px;float: right">
        <a-button v-if="$store.state.isStudent === false" style="float:right" type="primary" @click="showModal">
          <a-icon type="plus"></a-icon>
       Tạo nhóm
        </a-button>

      </div>
    </div>
    <a-divider/>
    <ModalGroup v-bind:visible="visible" title="Tạo nhóm" @close="handleClose"></ModalGroup>
    <ListGroup></ListGroup>
  </div>
</template>

<script>
import ListGroup from '../components/group/ListGroup'
import Modal from '../share/modal'
import FormGroup from '../components/group/FormGroup'
import { mapActions } from 'vuex'
export default {
  name: 'ListGroupContainer',
  components: {
    ListGroup,
    ModalGroup: Modal(FormGroup)
  },
  data () {
    return {
      visible: true
    }
  },
  methods: {
    ...mapActions({ addStudentInGroup: 'ooad/projects/createProjetc' }),
    handleClose () {
      this.visible = false
    },
    showModal () {
      this.visible = true
    }
  }
}
</script>

<style scoped>

</style>
