<template>
  <div class="listSemester">
    <div style="flex-direction:row ; display: flex ; margin-bottom: 15px ">
      <div class="h1" style="width: 80%">Danh sách kỳ học</div>
      <div style="width: 20%">
        <a-button style="float:right" type="primary" @click="showModal">
          <a-icon type="plus"></a-icon>
          Tạo kỳ học mới
        </a-button>
      </div>
    </div>

    <a-table :columns="columns" :data-source="data">
      <a slot="name" slot-scope="text">{{ text }}</a>
      <template slot="status" slot-scope="status,record">
        <a-switch :defaultChecked=record.status @change="handleUpdateStatus (record)"/>
      </template>
      <template slot="feature" slot-scope="status,record">
        <a-button type="primary" @click="showModelEdit(record)" icon="edit" style="margin: 3px;"/>
      </template>
    </a-table>

    <FormSemester v-bind:title="title" v-bind:visible="visible" v-bind:semester="formData"
                  @close="handleClose"></FormSemester>

  </div>
</template>

<script>
import FormSemester from '../components/semester/FormSemester'
import { mapActions } from 'vuex'

const columns = [
  {
    title: 'Name',
    dataIndex: 'name',
    key: 'name',
    scopedSlots: { customRender: 'name' }
  },

  {
    title: 'Start Time',
    dataIndex: 'start_time',
    key: 'start_time',
    ellipsis: true
  },
  {
    title: 'End Time',
    dataIndex: 'end_time',
    key: 'end_time'
  },
  {
    title: 'Status',
    dataIndex: 'status',
    key: 'status',
    scopedSlots: { customRender: 'status' }
  },
  {
    title: 'Chức năng',
    // dataIndex: 'feature',
    key: 'feature',
    scopedSlots: { customRender: 'feature' }
  }

]
export default {
  name: 'ListSemester',
  components: { FormSemester },
  data () {
    return {
      data: [],
      columns,
      visible: false,
      formData: {},
      title: 'Create Semester '
    }
  },
  async mounted () {
    const { data } = await this.getListSemester({})
    this.data = data
  },
  methods: {
    ...mapActions({ getListSemester: 'ooad/getListSemester' }),
    ...mapActions({ updateStatusSemester: 'ooad/updateStatusSemester' }),
    handleClose () {
      this.visible = false
      console.log(this.visible)
      this.formData = {}
    },
    showModal () {
      this.title = 'Tạo kỳ học mới'
      this.visible = true
      this.formData = {}
    },
    showModelEdit (record) {
      this.title = 'Sửa kì học'
      this.visible = true
      this.formData = Object.assign(this.formData, record)
    },
    async handleUpdateStatus (record) {
      await this.updateStatusSemester({ id: record.id, status: !record.status })
      console.log(record.id)
      record.status = !record.status
    }

  }

}
</script>

<style scoped>
.h1 {
  display: block;
  font-size: 2em;
  font-weight: bold;
}

.listSemester >>> th {
  font-weight: bolder;
}

.listSemester >>> td {
  padding: 3px 10px 3px 10px
}

.listSemester >>> .ant-table-tbody >>> tr >>> th {
  color: yellow
}

.listSemester >>> tr:nth-child(even) {
  background: rgba(243, 243, 243, 0.774)
}

.listSemester >>> tr:nth-child(odd) {
  background: #FFF
}
</style>
