<template>
  <div>
    <div class="listCourse">
      <div style="flex-direction:row ; display: flex ; margin-bottom: 15px ">
        <div class="text-black dark:text-white text-base sm:text-xl lg:text-base xl:text-xl font-semibold truncate">
          Danh sách sinh viên lớp INT 3011

        </div>

      </div>
      <a-divider/>
      <div style="width: 50%; margin-bottom: 10px;float: right">
        <a-input-search
          placeholder="Tìm kiếm sinh viên"
          @search="onSearch"
        />
      </div>
    </div>
    <ListStudent></ListStudent>
  </div>
</template>

<script>
import ListStudent from '../components/student/ListStudent'

export default {
  name: 'ListStudentInCourseContainer',
  components: {
    ListStudent
  },
  methods: {
    onSearch (e) {
      console.log(e)
    }
  }
}
</script>

<style scoped>

</style>
