<template>
  <div>
    <div style="flex-direction:row ; display: flex ; margin-bottom: 15px ">

      <div class="text-black dark:text-white text-base sm:text-xl lg:text-base xl:text-xl font-semibold truncate">Danh
        sách vòng lặp
      </div>
      <div style="width: 20%; margin-bottom:10px;float: right">
        <a-button v-if="$store.state.isStudent === false" style="float:right" type="primary" @click=" showModal">
          <a-icon type="plus" ></a-icon>
          Tạo vòng lặp
        </a-button>

      </div>
    </div>
    <a-divider/>
    <ListIteration></ListIteration>
    <IterationModal v-bind:visible="visible" v-bind:title="title" @close="handleClose" ></IterationModal>
  </div>
</template>

<script>
import FormIteration from '../components/iteration/FormIteration'
import Modal from '../share/modal'
import ListIteration from '../components/iteration/ListIteration'
export default {
  name: 'ListIterationContainer',
  data () {
    return {
      visible: true,
      title: 'Tạo vòng lặp'
    }
  },
  components: {
    ListIteration,
    IterationModal: Modal(FormIteration)
  },
  methods: {
    handleClose () {
      console.log('232131')
      this.visible = false
    },
    showModal () {
      this.visible = true
    }
  }
}
</script>

<style scoped>

</style>
