<template>
  <div>

    <div style="flex-direction:row ; display: flex ; margin-bottom: 15px ">

      <div class="text-black dark:text-white text-base sm:text-xl lg:text-base xl:text-xl font-semibold truncate">Danh
        sách đề tài
      </div>
      <div style="width: 20%; margin-bottom:10px;float: right">
        <a-button v-if="$store.state.isStudent === false" style="float:right" type="primary" @click="showModal">
          <a-icon type="plus"></a-icon>
          Tạo đề tài mới
        </a-button>

      </div>
    </div>
    <a-divider/>
    <div style="width: 20%; margin-bottom: 10px;float: right">
      <a-input-search
        placeholder="Lọc theo trạng thái"
        @search="onSearch"
      />
    </div>
    <div style="width: 20%; margin-bottom: 10px;float: right">
      <a-input-search
        placeholder="tìm kiếm theo tên"
        @search="onSearch"
      />
    </div>
    <ListProject></ListProject>
    <ModalProject v-bind:visible="visible" :title="title " @close="handleClose"></ModalProject>
  </div>
</template>

<script>
import ListProject from '../components/project/ListProject'
import Modal from '../share/modal'
import FormProject from '../components/project/FormProject'
import { mapActions } from 'vuex'
export default {
  name: 'ListProjectContainer',
  components: {
    ListProject,
    ModalProject: Modal(FormProject)

  },
  data () {
    return {
      visible: true,
      title: 'Tạo đề tài'
    }
  },
  methods: {

    ...mapActions({ createProject: 'ooad/projects/createProject' }),
    onSearch (e) {
      console.log(e)
    },
    handleClose () {
      this.createProject({})
      this.visible = false
    },
    showModal () {
      console.log(this.showModal.name)
      this.visible = true
    }
  }

}
</script>

<style scoped>

</style>
