<template>
<div>
  <ListUseCaseStory></ListUseCaseStory>
  <a-button type="primary" @click="showModal"> Thêm</a-button>
  <ModalUseCaseStory v-bind:visible="visible" v-bind:title="title" @close="handleClose"></ModalUseCaseStory>
</div>
</template>

<script>
import ListUseCaseStory from '../components/use_case_story/ListUseCaseStory'
import Modal from '../share/modal'
import FormUseCaseStory from '../components/use_case_story/FormUseCaseStory'
export default {
  name: 'ListUserCaseStoryContainer',
  components: {
    ListUseCaseStory,
    ModalUseCaseStory: Modal(FormUseCaseStory)
  },
  data () {
    return {
      visible: false,
      title: 'Tạo Use Case Slice'
    }
  },
  methods: {
    onSearch (e) {
      console.log(e)
    },
    handleClose () {
      this.visible = false
    },
    showModal () {
      this.visible = true
    }
  }
}
</script>

<style scoped>

</style>
