<template>
<div>
  <ListUseCaseTestCase></ListUseCaseTestCase>
  <a-button type="primary" @click="showModal"> Thêm</a-button>
  <ModalUseCaseTestCase v-bind:visible="visible" v-bind:title="title" @close="handleClose" ></ModalUseCaseTestCase>
</div>
</template>

<script>
import ListUseCaseTestCase from '../components/use_case_test_case/ListUseCaseTestCase'
import Modal from '../share/modal'
import FormUseCaseTestCase from '../components/use_case_test_case/FormUseCaseTestCase'
export default {
  name: 'ListUseCaseTestCaseContainer',
  components: {
    ListUseCaseTestCase,
    ModalUseCaseTestCase: Modal(FormUseCaseTestCase)
  },
  data () {
    return {
      visible: false,
      title: 'Tạo Use Case Slice'
    }
  },
  methods: {
    onSearch (e) {
      console.log(e)
    },
    handleClose () {
      this.visible = false
    },
    showModal () {
      this.visible = true
    }
  }
}
</script>

<style scoped>

</style>
