<template>
<div>
  <a-tabs
    default-active-key="1"
    tab-position="left"

    @prevClick="callback"
    @nextClick="callback"
  >
    <a-tab-pane :key="1" tab="Quản lý use case">
      <div>
        <div style="flex-direction:row ; display: flex ; margin-bottom: 15px ">

          <div class="text-black dark:text-white text-base sm:text-xl lg:text-base xl:text-xl font-semibold truncate">Danh
            sách ca sử dụng
          </div>
          <div style="width: 20%; margin-bottom:10px;float: right">
            <a-button v-if="$store.state.isStudent === false" style="float:right" type="primary" @click="$router.push({name: 'CreateUseCaseContainer', params: { project_id: 1 },})">
              <a-icon type="plus" ></a-icon>
              Tạo ca sử dụng
            </a-button>

          </div>
        </div>
        <a-divider/>
        <ListUseCase></ListUseCase>
      </div>

    </a-tab-pane>
    <a-tab-pane :key="2" tab="Quản lý Iteration">
<ListIterationContainer></ListIterationContainer>
    </a-tab-pane>
    <a-tab-pane :key="3" tab="Quản lý document">
      <DocumentContainer></DocumentContainer>
    </a-tab-pane>
    <a-tab-pane :key="4" tab="Thông tin chung dự án ">
      <ProjectDetail></ProjectDetail>
    </a-tab-pane>
    <a-tab-pane :key="5" tab="Quản lý actor">
      <ActorContainer></ActorContainer>
    </a-tab-pane>
    <a-tab-pane :key="6" tab="Yêu cầu tham gia">
      <AskJoinGroup></AskJoinGroup>
    </a-tab-pane>
  </a-tabs>
</div>
</template>

<script>
import ListUseCase from '../components/use_case/ListUseCase'
import DocumentContainer from './DocumentContainer'
import ProjectDetail from '../components/project/ProjectDetail'
import AskJoinGroup from '../components/project/AskJoinGroup'
import ListIterationContainer from './ListIterationContainer'
import ActorContainer from './ActorContainer'
const data = [
  { id: 1, name: 'Quản lý use case' },
  { id: 2, name: 'Quản lý Iteration' },
  { id: 3, name: 'Quản lý document' }
]
export default {
  name: 'ProjectDetailContainer',
  data () {
    return {
      data
    }
  },
  components: {
    ListUseCase,
    ListIterationContainer,
    DocumentContainer,
    ProjectDetail,
    AskJoinGroup,
    ActorContainer

  },
  methods: {
    callback (e) {}
  }
}
</script>

<style scoped>

</style>
