<template>
  <div>
    <a-tabs default-active-key="1" @change="callback">
      <a-tab-pane key="1" tab="Bài giảng">

      </a-tab-pane>
      <a-tab-pane key="2" tab="Nhóm" force-render>

      </a-tab-pane>
      <a-tab-pane key="3" tab="Nhóm của tôi">
        Content of Tab Pane 3
      </a-tab-pane>
    </a-tabs>
  </div>
</template>

<script>
export default {
  name: 'StudentCourse',
  method: {
    callback () {}
  }
}
</script>

<style scoped>

</style>
