<template>
  <div>
    <a-row>
      <a-col :span="10">
        Miêu tả use case
        <UsecaseForm></UsecaseForm>
      </a-col>

      <a-col :span="14">
        <div>
          <a-tabs tab-position="right" default-active-key="1" @change="callback">
            <a-tab-pane key="1" tab=" Use Case Slice">
              <ListUseCaseSliceContainer></ListUseCaseSliceContainer>
            </a-tab-pane>
            <a-tab-pane key="2" tab="Use Case Story" force-render>
              <ListUserCaseStoryContainer></ListUserCaseStoryContainer>
            </a-tab-pane>
            <a-tab-pane key="3" tab="Use Case Test Case" force-render>
              <ListUseCaseTestCaseContainer></ListUseCaseTestCaseContainer>
            </a-tab-pane>
            <a-tab-pane key="4" tab="Flow step " force-render>
              <ListFlowStepContainer></ListFlowStepContainer>
            </a-tab-pane>
          </a-tabs>
        </div>
      </a-col>
    </a-row>
  </div>
</template>

<script>
import ListUseCaseSliceContainer from '../view/ListUseCaseSliceContainer'
import ListUserCaseStoryContainer from '../view/ListUserCaseStoryContainer'
import ListUseCaseTestCaseContainer from '../view/ListUseCaseTestCaseContainer'
import ListFlowStepContainer from '../view/ListFlowStepContainer'
import UsecaseForm from '../components/use_case/FormUsecase'
export default {
  name: 'UseCaseDetailContainer',
  components: {
    ListUseCaseSliceContainer,
    ListUserCaseStoryContainer,
    ListUseCaseTestCaseContainer,
    ListFlowStepContainer,
    UsecaseForm
  }

}
</script>

<style scoped>

</style>
