<template>
  <div>
    <a-tabs tab-position="right" default-active-key="1" @change="callback">
      <a-tab-pane key="1" tab="Task">
        <ListTaskContainer></ListTaskContainer>
      </a-tab-pane>
      <a-tab-pane key="2" tab="UseCaseStory" force-render>
       <ListUserCaseStoryContainer></ListUserCaseStoryContainer>
      </a-tab-pane>
    </a-tabs>
  </div>
</template>

<script>
import ListTaskContainer from './ListTaskContainer'
import ListUserCaseStoryContainer from '@/modules/online-learing/view/ListUserCaseStoryContainer'
export default {
  name: 'UseSliceContainer',
  components: {
    ListUserCaseStoryContainer,

    ListTaskContainer
  }
}
</script>

<style scoped>

</style>
