<template>
  <a-table :columns="columns" :data-source="data" bordered>
    <template slot="feature" slot-scope="id,record">
      <a-button type="primary" @click="removeStudent(record)" icon="edit">Chấm điểm</a-button>

      <a-popover title="Chọn nhóm">
        <template slot="content">
          <AddStudentInGroup></AddStudentInGroup>
        </template>
        <a-button type="primary">
          Thêm sinh viên vào nhóm
        </a-button>
      </a-popover>
    </template>
    <template slot="team" slot-scope="team">
      <h3 v-if="team===''"> Chưa tham gia nhóm</h3>
      <h3 v-else> {{ team }}</h3>
    </template>
  </a-table>
</template>

<script>
import AddStudentInGroup from './AddStudentInGroup'

const columns = [

  {
    title: 'Mã sinh viên',
    dataIndex: 'student_code',
    key: 'student_code'
  },
  {
    title: 'Họ và tên',
    className: 'Group',
    dataIndex: 'name',
    key: 'name'
  },
  {
    title: 'Khóa',
    className: 'Group',
    dataIndex: 'school_year',
    key: 'school_year'

  },
  {
    title: 'Nhóm',
    dataIndex: 'team_name',
    key: 'team_name',
    scopedSlots: { customRender: 'team' }
  },
  {
    title: 'Điểm số',
    dataIndex: 'total',
    key: 'total'
  },

  {
    title: 'Chức năng',
    // dataIndex: 'feature',
    key: 'feature',
    scopedSlots: { customRender: 'feature' }
  }

]
const data = [
  {
    student_code: '1702000',
    name: 'sinhvien0',
    school_year: 'K62 CQK',
    avatar: '',
    total: 0,
    team_name: 'Nhóm0',
    team_code: ''
  }, {
    student_code: '1702001',
    name: 'sinhvien1',
    school_year: 'K62 CQK',
    avatar: '',
    total: 0,
    team_name: 'Nhóm1',
    team_code: ''
  }, {
    student_code: '1702002',
    name: 'sinhvien2',
    school_year: 'K62 CQK',
    avatar: '',
    total: 0,
    team_name: 'Nhóm2',
    team_code: ''
  }, {
    student_code: '1702003',
    name: 'sinhvien3',
    school_year: 'K62 CQK',
    avatar: '',
    total: 0,
    team_name: 'Nhóm3',
    team_code: ''
  }, {
    student_code: '1702004',
    name: 'sinhvien4',
    school_year: 'K62 CQK',
    avatar: '',
    total: 0,
    team_name: 'Nhóm4',
    team_code: ''
  }, {
    student_code: '1702007',
    name: 'sinhvien7',
    school_year: 'K62 CQK',
    avatar: '',
    total: 0,
    team_name: '',
    team_code: ''
  }, {
    student_code: '17020010',
    name: 'sinhvien10',
    school_year: 'K62 CQK',
    avatar: '',
    total: 0,
    team_name: '',
    team_code: ''
  }, {
    student_code: '1702005',
    name: 'sinhvien5',
    school_year: 'K62 CQK',
    avatar: '',
    total: 0,
    team_name: '',
    team_code: ''
  }, {
    student_code: '17020015',
    name: 'sinhvien15',
    school_year: 'K62 CQK',
    avatar: '',
    total: 0,
    team_name: '',
    team_code: ''
  }, {
    student_code: '17020017',
    name: 'sinhvien17',
    school_year: 'K62 CQK',
    avatar: '',
    total: 0,
    team_name: '',
    team_code: ''
  }, {
    student_code: '17020011',
    name: 'sinhvien11',
    school_year: 'K62 CQK',
    avatar: '',
    total: 0,
    team_name: '',
    team_code: ''
  }, {
    student_code: '17020019',
    name: 'sinhvien19',
    school_year: 'K62 CQK',
    avatar: '',
    total: 0,
    team_name: '',
    team_code: ''
  }, {
    student_code: '17020014',
    name: 'sinhvien14',
    school_year: 'K62 CQK',
    avatar: '',
    total: 0,
    team_name: '',
    team_code: ''
  }, {
    student_code: '17020018',
    name: 'sinhvien18',
    school_year: 'K62 CQK',
    avatar: '',
    total: 0,
    team_name: '',
    team_code: ''
  }, {
    student_code: '17020012',
    name: 'sinhvien12',
    school_year: 'K62 CQK',
    avatar: '',
    total: 0,
    team_name: '',
    team_code: ''
  }, {
    student_code: '1702008',
    name: 'sinhvien8',
    school_year: 'K62 CQK',
    avatar: '',
    total: 0,
    team_name: '',
    team_code: ''
  }, {
    student_code: '1702006',
    name: 'sinhvien6',
    school_year: 'K62 CQK',
    avatar: '',
    total: 0,
    team_name: '',
    team_code: ''
  }, {
    student_code: '1702009',
    name: 'sinhvien9',
    school_year: 'K62 CQK',
    avatar: '',
    total: 0,
    team_name: '',
    team_code: ''
  }, {
    student_code: '17020013',
    name: 'sinhvien13',
    school_year: 'K62 CQK',
    avatar: '',
    total: 0,
    team_name: '',
    team_code: ''
  }, {
    student_code: '17020016',
    name: 'sinhvien16',
    school_year: 'K62 CQK',
    avatar: '',
    total: 0,
    team_name: '',
    team_code: ''
  }]
export default {
  name: 'ListStudent',
  components: {
    AddStudentInGroup
  },
  data () {
    return {
      columns,
      data
    }
  }
}
</script>

<style scoped>

</style>
