<template>
  <div>
    <a-modal :visible="visible" @ok="handleOk" @cancel="handleClose">
      <a-button @click="updateAPI()">Thêm API</a-button>
      <a-select mode="tags" style="width: 100%" :token-separators="[',']" @change="handleChange">
        <a-select-option v-for="item in apiOptions" :key="item.id+''">
          {{ item.name }}
        </a-select-option>
      </a-select>
      <a-table
        :columns="columns"
        :row-key="record => record.id"
        :data-source="apis"
        :pagination="pagination"
        :loading="loading"

      >
        <template slot="delete" slot-scope="id">
          <a-button @click="deleteAPI(id)" type="danger">
          </a-button>
        </template>
      </a-table>

    </a-modal>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

const columns = [

  {
    title: 'Name',
    dataIndex: 'name',
    width: '20%'
  },
  {
    title: 'Path',
    dataIndex: 'path',
    sorter: true,
    width: '20%'

  },
  {
    title: 'Method',
    dataIndex: 'method',
    sorter: true,
    width: '20%'

  },
  {
    title: 'Description',
    dataIndex: 'description'
  },
  {
    title: 'Delete',
    dataIndex: 'id',
    scopedSlots: { customRender: 'delete' }
  }
]

export default {
  name: 'ListAPIInRole',
  props: {
    role: Object,
    visible: Boolean
    // title: String
  },
  data () {
    return {
      columns,
      apis: [],
      apiOptions: [],
      pagination: {},
      apisSelect: [],
      loading: true
    }
  },
  async updated () {
    if (this.loading === true) {
      const { data } = await this.getRoleByID(this.role.id)
      console.log(data)
      this.apis = data.apis
      const dataM = await this.getListAPI({})
      this.apiOptions = dataM.data
      this.loading = false
    }
  },
  methods: {
    ...mapActions({ getRoleByID: 'account/getRoleByID' }),
    ...mapActions({ getListAPI: 'account/getListAPI' }),
    ...mapActions({ addAPIInRoleByID: 'account/addAPIInRoleByID' }),
    ...mapActions({ deleteAPIInRoleByID: 'account/deleteInRoleByID' }),

    handleClose () {
      this.loading = true
      this.$emit('close', false)
    },

    handleChange (value) {
      this.apisSelect = Array.from(value, x => parseInt(x))
    },
    handleOk () {

    },
    async updateAPI () {
      await this.addAPIInRoleByID({ id: this.role.id, payload: { apis: this.apisSelect } })
    },
    async deleteAPI (idApi) {
      await this.deleteAPIInRoleByID({ id: this.role.id, payload: { apis: [idApi] } })
    }
  }

}
</script>

<style scoped>

</style>
